<ion-header *ngIf="themeType == 1">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            One-Off Court Booking
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-header>
    <ion-navbar *ngIf="themeType == 2">
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps" ></ion-icon>
    </button>
        <ion-title>
            One-Off Court Booking
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <!--<ion-item class="margin">
        <ion-label>Club</ion-label>
        <ion-select [(ngModel)]="selectedClub" (ionChange)="onClubChange()">
            <ion-option *ngFor="let club of allClub" value={{club.$key}}>{{club.ClubName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="margin">
        <ion-label>Activity</ion-label>
        <ion-select [(ngModel)]="selectedActivity">
            <ion-option *ngFor="let item of allActivityArr" value={{item.$key}}>{{item.ActivityName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="margin">
        <ion-label>Membership Year</ion-label>
        <ion-select [(ngModel)]="selectedMembershipYear">
            <ion-option *ngFor="let item of membershipYearArr" value={{item.name}}>{{item.name}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedMembershipYear == 'Fixed month starting'" class="margin">
        <ion-label>Month</ion-label>
        <ion-select [(ngModel)]="selectedMonth">
            <ion-option *ngFor="let item of monthArr" value={{item.id}}>{{item.name}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label floating>Pay By Date</ion-label>
        <ion-input type="text" [(ngModel)]="newMemberDetails.PayByDate"></ion-input>
    </ion-item>-->

    <!--<ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button block style="background-color:#2b92bb !important; color: white !important" (click)="cancelNewMembershipConfig()">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block class="timekare-primary-btn" (click)="saveNewMembershipConfig()">Save</button>
            </ion-col>
        </ion-row>
    </ion-grid>-->
</ion-content>