@import '../../../theme/android-sdk35-fixes.scss';

communication-page {
    @include android-sdk35-fixes;
 .scroll-content{
        background-image: url("../assets/images/background/innerbg.png");
        background-size: 100% 100%;
       
    }
    .dropdown{
        padding: 5px 7px 0px 7px;
        ion-col{
            padding-bottom: 0px;
        }
    }
    .social-cards ion-col {
        padding: 0;
     }
     .coach-icons{
         float: right;
     }
     .coach-img{
        //  width: 100%;
        //  height:100%;
        //  width: 82px;
        //  height: 84px;
        width: 82px;
        height: 93px;

     }
     .edit{
         color: $dashoboard-icon-color;
     }
     .close{
         color: #f53d3d;
     }
     .edit ,.close{
         font-size: 25px;
          //color: white;
     }
     .coach-img-block{
         padding-left: 0px;
         padding-top: 0px;
         padding-bottom: 0px;
    
     }

     .coach_details{
         padding:0px;
         ion-item{
             div{
                 padding-right: 0px !important;
                 div{
                     ion-label{
                         margin:0px ;
                     }
                 }
             }
         }
         ion-card-content{
            
             p{
                line-height: 13.6px;
                font-size: 13px;
             }
         }
         ion-item , ion-card-content{
             padding: 0px;
         }
     }
  .ion-toggle-left{
      width: 39px;
  }
  .coach_name{
      color: $dashoboard-icon-color;
  }
   .block_height {
        height: 82%;
    }
}
