@import '../../../../theme/android-sdk35-fixes.scss';

page-addevent {
    @include android-sdk35-fixes;
    $toolbar-background-color1: #2b92bb;
    $toolbar-title-color1: #ffffff;
    $toolbar-button-text-color1: #ffffff;
    .toolbar-title-ios {
        color: #f4f4f4 !important;
    }
    .bar-button {
        color: $toolbar-button-text-color1 !important;
    }
    // .toolbar {
    //     padding-top: 25px !important;
    // }
    .toolbar-title-ios {
        //padding-top: 30px;
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: #f4f4f4 !important;
    }
    .toolbar-title {
        color: $toolbar-title-color1;
        //added after dashboard color change.
        font-weight: 400;
    }
    .toolbar-background {
        background-color: $toolbar-background-color1 !important;
    }
    .toolbar-background-ios {
        background: #2b92bb !important;
    }
    .white-space {
        white-space: pre-wrap;
    }
    .scroll-content {
        margin-top: 60px !important;
        padding: 3px !important;
        background-image: none !important; // background: white !important;
        background: #f4efef !important;
    }

    .margin_auto{
        margin: auto;
    }




    .nonmembercard{
        //margin-top: 30px !important;
        border-bottom: 2px solid #faae4e;
        ion-card-content{
            padding: 0px 16px;
        }
    }
    .card_cls{
        margin: 6px 0px 6px 0px !important;
        width:auto !important;
    }
    .slider_title{
        border-bottom: 2px solid #faae4e !important;
        .label .label-md{
            margin: 5px 8px 5px 0px !important;
        }
    }
    .danger_color2 {
        color: #2b92bb !important ;
        text-align: center !important;
        font-size: 20px !important;
        padding: 0px;
    }
    ion-slide {
       // background-color: #32db64;
        width: 100%;
        height:auto;
        //swiper-slide
      }
     .input_item{
         padding-left: 5px !important;
          ion-label{
            color: #999 !important;
            font-size:1.4rem !important;
          }
          ion-select{
              max-width:100% !important;
          }
     }
     .event_title_img{
         padding-left:5px !important;
     }
     .social_media{
         padding-left: 10px;
     }

     .para{
        color: #999 !important;
        font-size:1.4rem !important;
     }
     .flex_col{
         display: flex;
         justify-content: space-between;
         p{
             line-height: 30px;
         }
     }
      .textarea_cls ion-label{
          color:black !important;
          font-size:1.3rem !important;
      }
      .event_title_img{
          img{
            width:60px;
            height:60px;
          }
          .add_icon{
              width:50px;
              height:50px;
          }
      }
      .message-input{
        width: 100%;
        //border-radius: 5px;
        border:0px;
        color: #000 !important;
      }
      .school-con1 {
        height: 40px !important;
        background-color: #488aff !important;
        line-height: 8px;
        color: #FFFFFF;
    }
    .syllabus_para{
        line-height: 40px !important;
        color:#fff;
    }
    .ticket_check{
        float: right;
        top:-3px;
        right:15px;
    }
    .checkbox-md .checkbox-checked {
        border-color: #35ff59;
        background-color: #35ff59;
    }
    .sponsor_div{
        right: 5px;
        position: absolute;
        z-index: 99999;
        button{
            border-radius: 50%;
            ion-icon{
                font-size: 1.6em;
            }
        }
    }
    .textright .text-input{
        text-align: right;
    }
     .width-100{
        width:100%;
     } 
     .ticket_card{
        transition: max-height 0.4s ease-in-out;
        margin:2px !important;
     }

     ::placeholder {
        font-size:14px !important;
      }
     
     .swiper-slide{
        -webkit-align-items: unset !important;
        -ms-flex-align: unset !important;
        align-items: unset !important; 
        -webkit-box-pack: unset !important; 
        h1{
            font-size:15px;
        }
     }

    .para-text{
        padding: 0px 3px 0px 3px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap;
    }
    .duration_cls{
        padding-left:5px !important;
    } 
    .tkttype_edit{
        float: right;
        color: #fff;
        margin: -7px 3px 0px 15px;
    }

    
    .card .item-inner{
        padding-right: 8px;
        border-bottom: 1px solid #dedede !important;
    }

    //toggle button related classes

    .toggle {
        overflow: hidden;
        display: inline-block;
        width: 4em;
        //background: #2f2a2a;
        background-color: #ebf7fc;
        //padding: 0.135em;
        cursor: pointer;
        font-size: 17px;
        margin-left: 25px;
        border-radius: 50px;
        height: 30px;
    }
    .toggle input {
        position: absolute;
        visibility: hidden;
    }
    .toggle span {
        position: relative;
        left: 0%;
        display: block;
        text-align: center;
        -webkit-transition: left 200ms ease-out;
        -moz-transition: left 200ms ease-out;
        -o-transition: left 200ms ease-out;
        transition: left 200ms ease-out;
    }
    .toggle :checked+span {
        left: 50%;
    }
    /* Default unchecked state */
    .toggle span:before {
        content: attr(data-unchecked);
        display: block;
        width: 50%;
        background-color: #f44336;
        border-radius: 50px;
        box-shadow: 0 10px 20px -8px #c5d6d6;
        //box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.3);
        color: white;
        border-radius: 25px;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    /* Checked state */
    .toggle :checked+span:before {
        content: attr(data-checked);
        background-color: #03A9F4;
        color: white;
        border-radius: 50px;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    .Active{
        background-image: linear-gradient(to right, #fbc46d, #f9b457) !important;
    }
    .InActive{
        background-color: #7bc6e5;
    }
    //To remove item highlight border bottom colors
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
      }
      
      .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
      }
      
      .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
      }
      
      .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
      }
      
      .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
      }
      
      .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
      }
      
      .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
      }
      
      .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
      }

      .image-container {
        min-height: 200px;
        background-size: cover;
      }      
      .image_div {
        width: 100%;
        //height: 200%;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        //margin: 8px 2px;
        position: relative;
        img{
            height:150px;
            width: 100%;
            object-fit: cover
        }
        ion-icon{
          top: -4%;
          position: absolute;
          right: -2%;
          z-index:999999;
          font-size: 1.6em;
        }
      }

      .img_viewer_wrapper{
        width:100%;
        height:100%;
        position: absolute;
        left: 0;
        top:0;
        background:rgba(0,0,0,0.6);
        z-index:9999;
        animation: popup 0.5s;
        .img_viewer_div{
            position: relative;
            background-color: #fefefe;
            margin: 15% auto;
            padding: 10px;
            border: 1px solid #888;
            width: 85%;
            height: 75%;
            ion-icon{
                z-index: 9999;
                font-size: 2em;
                position: absolute;
                right: -5px;
                top: -10px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }
    }
}
