<ion-header>
  <ion-navbar>
    <ion-title>Add Staff</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <div class="compact-search-card">
    <div class="search-content">
      <ion-searchbar class="sleek-searchbar" placeholder="Search Staffs by Name"
        (ionInput)="getFilterItems($event)" autocorrect="off"
        showCancelButton="never"></ion-searchbar>
    </div>
  </div>

  <div class="list-header">
    <h3>Coaches List</h3>
  </div>

  <div class="scrollable-list">
    <ion-list *ngIf="filteredStaff.length > 0">
      <ion-item *ngFor="let person of filteredStaff;let i=index">
        <ion-label>{{person.name}} 
          <p style="display:inline;" 
          *ngIf="person.role">({{person.role}})</p>
        </ion-label>
        <ion-checkbox
        [(ngModel)]="person.isSelect"
        [disabled]="person.isAlreadExisted"
        (ionChange)="selectMembers(person,$event)"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button (click)="saveStaff()" class="timekare-primary-btn" ion-button block>Add Staff</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
