<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="logo_center">DashBoard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="showDash" class="dash_row">
    <ion-col item-center>
      <p (click)="gotoDashBoard()">DashBoard</p>
    </ion-col>
  </ion-row>

  <ion-row class="dash_row">
    <ion-col col-12 item-center>
      <p (click)="gotoPromotion()">Promotion</p>
    </ion-col>
  </ion-row>

  <ion-row class="sub-container">
    <ion-col col-2 style="text-align: -webkit-right;">
      <button class="search_btn">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-9 class="search-bar" style="margin-left: -8px;">
      <ion-searchbar placeholder="Search" id="customsearchbar" (ionInput)="getFilterItems($event)" autocorrect="off">
      </ion-searchbar>
    </ion-col>
    <ion-col col-1 class="margin-auto" style="text-align:center;padding:0px">
      <button ion-button clear (tap)="syncList()" class="refresh_btn">
        <ion-icon name="md-sync"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-list>
    <button ion-item *ngFor="let parent of TempParentClubs" (click)="GetParentClubInfo(parent.firebase_loggedinkey)">
      <ion-avatar item-start>
        <img [src]="parent.ParentClubAppIconURL">
      </ion-avatar>
      <h2>{{parent.ParentClubName}}</h2>
      <p>{{parent.FireBaseId}}</p>
    </button>
  </ion-list>

  <p *ngIf="TempParentClubs.length === 0 && !isLoading" style="text-align:center; color:#999; padding:20px;">
    No parent clubs found
  </p>
</ion-content>
