<!--
  Generated template for the EditeventandnewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Edit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
 

  <ion-item>
    <ion-label floating>News Title</ion-label>
    <ion-textarea type="text" rows="1" [(ngModel)]="ImageObj.image_title"></ion-textarea>
  </ion-item>
  <ion-row (click)="SelectProfImg()" style="border-bottom: 0.55px solid #c8c7cc;">
    <!-- <ion-col col-8  *ngIf= "!ImageObj.ImageURL"  style="font-size: 16px;color: #cbc8c6;" text-left><p style="margin-left: 12px;">Upload Title Image </p></ion-col> -->
    <ion-col *ngIf="ImageObj.image_url && title_url==undefined" col-12>
      <img class="tit_img" src={{ImageObj.image_url}} >
      <div class="landimg_setup">
          <p>
            <span><ion-icon name="ios-camera-outline"></ion-icon></span>
            <span style="margin-left:10px;">Change Image</span>
          </p>
      </div>
    </ion-col>
    <ion-col *ngIf="title_url!=undefined" col-12>
      <img class="tit_img" src={{title_url}} >
      <div class="landimg_setup">
        <p>
          <span><ion-icon name="ios-camera-outline"></ion-icon></span>
          <span style="margin-left:10px;">Change Image</span>
        </p>
    </div>
    </ion-col>
    <!-- <ion-col col-12 *ngIf="title_url">
      <p style="margin:5px;" text-center>Upload Title Image</p>
      <img class="tit_img" src="assets/images/img_placehlder.png">
    </ion-col> -->
  </ion-row>
  
  <ion-item>
    <ion-label floating>Title Image Caption</ion-label>
    <ion-input type="text" [(ngModel)]="ImageObj.image_caption"></ion-input>
  </ion-item>
  <ion-textarea rows="3" type="text"
    style="white-space:pre-wrap;font-size: 16px;color: rgba(0,0,0,0.65);padding: 0px 3px 0px 11px;border-bottom: 0.55px solid #c8c7cc"
    [(ngModel)]="ImageObj.image_description" placeholder=" Type News Description..." (tap)="focusedOnTextArea()">
  </ion-textarea>
  <ion-item>
   
    <ion-label class="act">Activities</ion-label>
    <ion-select [(ngModel)]="selectedActivity" >
      <ion-option *ngFor="let activity of activityList" value={{activity.ActivityKey}}>{{activity.ActivityName}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row style="border-bottom: 0.55px solid #c8c7cc !important;" (click)="presentProfileModal()">
      <ion-col col-7 style="padding-left: 12px;">
        <ion-label class="text">Category</ion-label>
      </ion-col>
      <ion-col style="text-align: right" col-5 class="row5">
        <p class="cate para_overflow">{{getCategory()}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="toggle_row">
      <ion-col col-9 no-padding class="flex_col" style="margin:auto">
        <p class="custom_toggle_para">Show in AP Plus</p>
      </ion-col>
      <ion-col col-3>
        <label class="custom_toggle">
          <input type="checkbox" [(ngModel)]="ImageObj.is_show_applus">
          <span data-unchecked="No" data-checked="Yes"></span>
        </label>
      </ion-col>
    </ion-row>
    <!-- the below one commented as per shubhanakr sir -->
    <!-- <ion-row class="toggle_row">
      <ion-col col-9 class="flex_col" style="margin:auto">
        <p class="custom_toggle_para">Show In MemberApp</p>
      </ion-col>
      <ion-col col-3>
        <label class="custom_toggle">
          <input type="checkbox" [(ngModel)]="ImageObj.ShowInMemberApp">
          <span data-unchecked="No" data-checked="Yes"></span>
        </label>
      </ion-col>
    </ion-row> -->
    <ion-row style="border-bottom: 0.55px solid #c8c7cc !important;" (click)="presentUploadModal()">
      <ion-col col-8 style="padding-left: 12px;">
        <ion-label class="text">Add More Photos</ion-label>
      </ion-col>
      <ion-col class="col_margin" col-4><button class="btn">
          <ion-icon name="add" class="ico"></ion-icon>
        </button></ion-col>
    </ion-row>
    <ion-row *ngIf="getPhotoList().length > 0">
      <ion-col col-3 *ngFor="let photo of photoList;let i = index">
        <img src={{photo.image_url}} class="sub-image" (click)="presentActionSheet(i, photo)">
      </ion-col>
    </ion-row>
    <!-- <ion-item style="padding-left: 12px !important;">
      <ion-label floating>Tag</ion-label>
      <ion-input type="text" [(ngModel)]="ImageObj.ImageTag"></ion-input>
    </ion-item> -->
    
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button ion-button block style="background-color:#2b92bb !important; color: white !important"
        (click)="cancel()">Cancel</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button block class="timekare-primary-btn" (click)="updateNewsPhotos()">Update</button>
    </ion-col>
  </ion-row>
</ion-footer>
