@import '../../../theme/android-sdk35-fixes.scss';
page-showeventsandnews {
    @include android-sdk35-fixes;
    .swiper-slide {
        display: block !important;
       
    }
    ion-slides {
        display: block;
        width: 100%;
        height: auto;
    }

    .slide-zoom { 
        text-align: left !important;
        display: block;
        width: 100%;

    }
    .title_container {
        background-color: rgb(224, 219, 219);
        margin-top: -10px;
        padding: 1px;
        pa p {
            font-size: 15px;
        }
    }
    .scroll-content {
        //padding: 6px !important;
        background-image: none !important;
        background: rgba(255, 255, 255, 0.5) !important;
    }
    .header_div{
        width:100%;
        height:50%;
        img{
            height: 100%;
            width:100%;
            object-fit: cover;
        }
    }
    .swiper-slide img{
        width:100%;
        //height:300px;
        object-fit: fill;
    }
    h3,
    h6 {
        margin: 4px !important;
      
        margin-left: 3%;
    }
    .subimg {
        object-fit: fill;
        width: 100% !important; // margin-left:3%;
        height: 300px;
    }
    ion-label {
        color: #488aff;
        font-size: 16px;
    }
    .rightspan {
        color: #bc2219;
    }
    .leftspan {
        color: rgb(150, 146, 146);
    }
    .caption {
        // margin-left: 30%;
        margin-top: -1%;
        font-size: 15px;
        color: gray;
        text-align: center;
    }
    
    .lab {
        margin-left: -4px;
    }
    .rest {
        margin-left: 3px;
        font-size: 14px;
    }
    .animate-zoom {
        animation: animatezoom 0.6s
    }
    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    .description {
        font-size: 15px;
        font-weight: 400;
        margin-left: 6px !important;
        margin-right: 6px !important;
        white-space: pre-line;
        margin-top: -10px;
        
    }
    .title{
    font-size: 14px;
    }
.shareimg{
    height: 24px;
    right: 20px;
    position: absolute;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    // width: 40% !important;
    // margin-top: 44% !important;
    // margin-left: 18% ;
    
  
    // background-color: #fefefe;

    // -webkit-animation-name: slideIn;
    // -webkit-animation-duration: 0.4s;
    // animation-name: slideIn;
    // animation-duration: 0.4s
    height: 303px;
    width: 64% !important;
    margin-top: 49% !important;
    margin-left: 17%;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 16px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
.images{
    font-size:  25px;
    margin-left: 10px;
}
.name{
    font-size: 15px;
    margin-left: 32px;
}

.backbtn{
    color: #585050;
    font-size: 38px;
    transform: rotate(43deg);
    margin-left: 19px;
    margin-top: -8px;
    font-weight: bold;
}
.insta{
    height: 19px;
    margin-left: 11px;
}
}