@import "../_league-theme.scss";
@import '../../../../theme/android-sdk35-fixes.scss';
page-tournamentmail {
  @include league-theme-base;
  @include android-sdk35-fixes;
    .scroll-content {
        background-image: none !important;
        padding: 16px 9px !important;
        background-color: #f7f7f7;
    }
}
