page-textareamodalcontroller {
    .scroll-content {
        background-image: none !important;
    }
    ion-title {
        background-color: #2b92bb !important;
        div {
            color: #fff !important;
        }
    }
    .toolbar-background-md{
        background-color: #2b92bb;
    }
    .input-cover{
        
    }
}