activitysetuphome-page{
    .scroll-content{
        padding: 16px 9px !important;
    }
    .margin{
        margin-bottom: 7px;
    }
    .card{
        margin: 6px 0px 6px 0px;
        width:100%
    }
    .card_header{
        padding: 3px 0px 5px 19px;
    }
    .rounded{
        width: 38px;
        height: 38px;
        border-radius: 19px;
        padding-top: 8px;
    }
    .text_white{
        color:white;
    }
    .days{
        ion-col{
            text-align: center;
            p{
                border: 1px solid #76747d;;
            }
        }
        
    }
    .card1{
        margin: 6px 0px 6px 0px;
        width:100%
    }
     ion-card-content{
        padding:0px !important;
    }
    .padding-left{
        padding-left: 15px;
    }
    .margintop{
        margin-top: 6px;
    }
}