<ion-header>
  <ion-navbar>
    <ion-title>Edit Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <ion-list>
    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label fixed>Team Name</ion-label>
        <ion-input type="text" [(ngModel)]="team.teamName"></ion-input>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label fixed>Short Name</ion-label>
        <ion-input type="text" [(ngModel)]="team.short_name"></ion-input>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-row style="width:100%">
          <ion-col col-7 style="margin:auto">
            <span class="logo-label">Team Logo</span>
          </ion-col>
          <ion-col col-3 style="margin:auto; text-align:center">
            <img *ngIf="parentClubTeamEdit.teamDetailsInput.logo_url"
              [src]="parentClubTeamEdit.teamDetailsInput.logo_url" class="team-logo"
              (click)="showImagePopup(parentClubTeamEdit.teamDetailsInput.logo_url)">
          </ion-col>
          <ion-col col-2 style="margin:auto; text-align:center">
            <button ion-button icon-only clear (click)="selectTeamLogo()" class="upload-btn">
              <img src="assets/images/upload.svg" class="add_icon">
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Venue</ion-label>
        <ion-select (ionChange)="getActivity()" [(ngModel)]="parentClubTeamEdit.teamDetailsInput.venueKey">
          <ion-option *ngFor="let club of clubVenues" value="{{club.FirebaseId}}">{{club.ClubName}}</ion-option>
        </ion-select>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Activity</ion-label>
        <ion-select [(ngModel)]="team.activity.ActivityCode">
          <ion-option *ngFor="let activity of activities" value="{{activity.ActivityCode}}">{{activity.ActivityName}}</ion-option>
        </ion-select>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Age Group</ion-label>
        <ion-input type="text" [(ngModel)]="team.ageGroup"></ion-input>
        <button ion-button clear item-right class="help_btn" (click)="ageGroupHint()">
          <img style="width: 70%;" src="assets/images/info.svg">
        </button>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <app-access-toggle [(isPublic)]="publicType"
        (isPublicChange)="changeType($event ? 'public' : 'private')" label="Team Access">
      </app-access-toggle>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item class="description-item">
        <ion-label stacked>Description</ion-label>
        <ion-textarea type="text" rows="5" maxLength="500" placeholder="Team Description (optional)"
          [(ngModel)]="team.teamDescription"></ion-textarea>
      </ion-item>
    </app-form-field>
  </ion-list>

  <!-- Image Popup -->
  <div class="image-popup-overlay" *ngIf="isShowImagePopup" (click)="closeImagePopup()">
    <div class="image-popup-container" (click)="$event.stopPropagation()">
      <img [src]="popupImageUrl" class="popup-image">
      <button ion-button clear class="close-btn" (click)="closeImagePopup()">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
  </div>

  <app-glass-button label="Update" (btnClick)="updateTeamDetails()"></app-glass-button>
</ion-content>
