<ion-header>
  <ion-navbar>
    <ion-title>Create Competition</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToDashboardMenuPage()">
        <img src="assets/images/home.svg" class="home_btn">
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <ion-list>
    <ion-item>
      <ion-label fixed>Competition Name</ion-label>
      <ion-input placeholder="Enter Competition Name" type="text" [(ngModel)]="leagueCreationInput.league.league_name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Hosted By</ion-label>
      <ion-select [(ngModel)]="selectedClub" (ionChange)="onChangeOfClub()">
        <ion-option *ngFor="let club of clubs" value="{{club.FirebaseId}}">
          {{club.ClubName}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Activity</ion-label>
      <ion-select [(ngModel)]="leagueCreationInput.league.activity_code">
        <ion-option *ngFor="let activity of club_activities" value="{{activity.ActivityCode}}">{{activity.ActivityName}}
        </ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Competition Type</ion-label>
      <ion-select [(ngModel)]="leagueCreationInput.league.league_type" (ionChange)="onLeagueTypeChange($event)">
        <ion-option *ngFor="let type of leagueType" [value]="type.value">{{type.key}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Location Type</ion-label>
      <ion-select [(ngModel)]="leagueCreationInput.league.location_type">
        <ion-option [value]="1">Club</ion-option>
        <ion-option [value]="2">Location</ion-option>
        <ion-option [value]="3">School</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="leagueCreationInput.league.location_type===1">
      <ion-label>Club</ion-label>
      <ion-select [(ngModel)]="selectedClubLocation">
        <ion-option *ngFor="let club of clubs" value="{{club.FirebaseId}}">
          {{club.ClubName}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="leagueCreationInput.league.location_type===2">
      <ion-label>Location</ion-label>
      <ion-select [(ngModel)]="leagueCreationInput.league.location">
        <ion-option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item *ngIf="leagueCreationInput.league.location_type===3">
      <ion-label>School</ion-label>
      <ion-select [(ngModel)]="selectedSchoolLocation">
        <ion-option *ngFor="let scl of schools" value="{{scl.id}}">{{scl.school_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="leagueCreationInput.league.league_category">
        <ion-option *ngFor="let cat of leagueCategory" [value]="cat.value">{{cat.key}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" min="{{min}}" max="{{max}}"
        [(ngModel)]="leagueCreationInput.league.start_date"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" min="{{min}}" max="{{max}}"
        [(ngModel)]="leagueCreationInput.league.end_date">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label>Last Date For Enrolment</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" min="{{min}}" max="{{max}}"
        [(ngModel)]="leagueCreationInput.league.last_enrollment_date"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label>Last Date For Withdrawal</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" min="{{min}}" max="{{max}}"
        [(ngModel)]="leagueCreationInput.league.last_withdrawal_date">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" minuteValues="0,10,20,30,40,50,60"
        class="textareastyle" [(ngModel)]="leagueCreationInput.league.start_time"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" minuteValues="0,10,20,30,40,50,60"
        class="textareastyle" [(ngModel)]="leagueCreationInput.league.end_time"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label>Early Arrival</ion-label>
      <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" minuteValues="0,10,20,30,40,50,60"
        class="textareastyle" [(ngModel)]="leagueCreationInput.league.early_arrival_time"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label fixed>Season</ion-label>
      <ion-input type="text" [(ngModel)]="leagueCreationInput.league.season" class="textareastyle"></ion-input>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label fixed>Capacity</ion-label>
      <ion-input type="text" [(ngModel)]="leagueCreationInput.league.capacity" class="textareastyle"></ion-input>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label fixed>Grade</ion-label>
      <ion-input type="text" [(ngModel)]="leagueCreationInput.league.grade" class="textareastyle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Age Group(Optional)</ion-label>
      <ion-input type="text" [(ngModel)]="leagueCreationInput.league.league_ageGroup" class="textareastyle"></ion-input>
      <button ion-button clear item-right class="help_btn" (click)="ageGroupHint()">
        <img style="width: 70%;" src="assets/images/info.svg">
      </button>
    </ion-item>

    <ion-item class="activity_select">
      <ion-label>Coach</ion-label>
      <ion-select [(ngModel)]="leagueCreationInput.league.coachId" (ionChange)="updateContactInfo()">
        <ion-option *ngFor="let coach of coaches" [value]=coach.Id>
          {{coach.first_name}} {{coach.last_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label fixed>Contact Mail</ion-label>
      <ion-input type="text" [(ngModel)]="leagueCreationInput.league.contact_email" class="input_txt_right"></ion-input>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-label fixed>Contact Phone</ion-label>
      <ion-input type="text" [(ngModel)]="leagueCreationInput.league.contact_phone" class="input_txt_right"></ion-input>
    </ion-item>

    <ion-item *ngIf="!isTeamType">
      <ion-row>
        <ion-col col-12 no-padding class="flex_col">
          <p class="toggle_para">Paid</p>
          <label class="toggle">
            <input type="checkbox" [(ngModel)]="leagueCreationInput.league.is_paid">
            <span data-unchecked="No" data-checked="Yes"></span>
          </label>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="leagueCreationInput.league.is_paid && !isTeamType">
      <ion-label fixed>Member Fee
        <span *ngIf="currency != undefined">({{currency}})</span>
      </ion-label>
      <ion-input type="number" class="textareastyle" placeholder="Please enter fee"
        [(ngModel)]="leagueCreationInput.league.member_price"></ion-input>
    </ion-item>

    <ion-item *ngIf="leagueCreationInput.league.is_paid && !isTeamType">
      <ion-label>Non Member Fee
        <span *ngIf="currency != undefined">({{currency}})</span>
      </ion-label>
      <ion-input type="number" class="textareastyle" placeholder="Please enter fee"
        [(ngModel)]="leagueCreationInput.league.non_member_price"></ion-input>
    </ion-item>

    <div *ngIf="leagueCreationInput.league.is_paid && !isTeamType">
      <ion-item>
        <ion-row>
          <ion-col col-12 no-padding class="flex_col">
            <p class="toggle_para">Allow Pay Later</p>
            <label class="toggle">
              <input type="checkbox" [(ngModel)]="leagueCreationInput.league.is_pay_later" />
              <span data-unchecked="No" data-checked="Yes"></span>
            </label>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item *ngIf="!isTeamType">
        <ion-row>
          <ion-col col-12 no-padding class="flex_col">
            <p class="toggle_para">Allow BACS</p>
            <label class="toggle">
              <input type="checkbox" [(ngModel)]="leagueCreationInput.league.allow_bacs" />
              <span data-unchecked="No" data-checked="Yes"></span>
            </label>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item *ngIf="!isTeamType">
        <ion-row>
          <ion-col col-12 no-padding class="flex_col">
            <p class="toggle_para">Allow Cash</p>
            <label class="toggle">
              <input type="checkbox" [(ngModel)]="leagueCreationInput.league.allow_cash" />
              <span data-unchecked="No" data-checked="Yes"></span>
            </label>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>

    <ion-item *ngIf="!isTeamType">
      <ion-row>
        <ion-col col-12 no-padding class="flex_col">
          <p class="toggle_para">Show Participants</p>
          <label class="toggle">
            <input type="checkbox" [(ngModel)]="leagueCreationInput.league.show_participants" />
            <span data-unchecked="No" data-checked="Yes"></span>
          </label>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6 style="margin: auto;" no-padding>
          <p class="toggle_para">Status</p>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="select-type" (click)="changeType('public')" [class.selected]="publicType">
            <ion-icon style="padding-right: 10px" name="globe"></ion-icon>
            Public
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="select-type" (click)="changeType('private')" [class.selected]="!publicType">
            <ion-icon style="padding-right: 10px" name="ios-lock-outline"></ion-icon>
            Private
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-textarea type="text" rows="5" [(ngModel)]="leagueCreationInput.league.league_description"
        placeholder="Description"></ion-textarea>
    </ion-item>
  </ion-list> 

</ion-content>

<ion-footer [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button block class="timekare-primary-btn" (click)="createLeagueConfirm()">
          Create
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>