<!--
  Generated template for the CampcheckinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Check-In</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards" *ngIf="selectedCampDetails">
    <ion-card class="card_list hadder-card gold_border_bottom">
        <ion-card-content style="padding:5px !important">
            <p class="dotted1">{{selectedCampDetails.camp_name}}</p>
            <p class="dotted1" style="margin-top:-7px">
                {{selectedSessionObj.session_day}},{{selectedSessionObj.start_time}} -> {{getHours(selectedSessionObj.duration)}}
                hrs
            </p>
            <ion-row>
                <ion-col col-md-4 col-sm-4 col-4 style="text-align:center;padding:0px;margin:auto;">
                    <ion-row style="padding:0px; margin:auto" >
                        <img class="img1" [src]="selectedCampDetails.Coach[0].profile_image && selectedCampDetails.Coach[0].profile_image!='' ? selectedCampDetails.Coach[0].profile_image : 'assets/images/dummyCoach.jpg'">
                    </ion-row>
                    <ion-row style="padding:0px; margin:auto" *ngFor="let c of coaches">
                        <p class="coachname">{{selectedCampDetails.Coach[0].first_name}} {{selectedCampDetails.Coach[0].last_name}}</p>
                    </ion-row>
                </ion-col>
                <ion-col col-md-8 col-sm-8 col-8 class="border-left">
                    <p class="dotted bottom-border-style" style="margin-top: -7px;">
                        <span>{{selectedSessionObj.session_name}}</span>
                    </p>
                    <p class="dotted bottom-border-style" style="margin-top: -7px;">
                        <span>{{selectedCampDetails.venue_name}}</span>
                    </p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>



    <ion-card class="card_list">
        <ion-card-content class="card_content">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 class="right_pad">
                        <ion-item class="member-item">
                            <ion-label>All</ion-label>
                            <ion-checkbox [(ngModel)]="isSelectAll" [disabled]="is_all_checked" (click)="selectAllToggole()"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <!-- lower half screen -->

    <div class="block_height">
        <ion-list class="margin marginleftright">
            <div *ngFor="let enrol of enrolledMembers;let i=index" class="margin-bottom-2 pmargin member-item">
                <ion-row>
                    <ion-col col-7 style="margin:auto">
                        <ion-item style="background: transparent !important;">
                            <ion-label>{{enrol.user.FirstName}} {{enrol.user.LastName}}
                                <span style="font-size: 14px;">({{enrol.user.DOB}}Yrs)</span>
                            </ion-label>
                            <ion-checkbox [(ngModel)]="enrol.isSelect" (click)="changeMembers(enrol,i)"
                                [disabled]="enrol.attendanceDetails.checked_in==1"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5 class="margin_auto">
                        <ion-textarea style="border: 0.5px solid #707070;border-radius: 5px;background: white;"
                            class="points" [(ngModel)]="enrol.attendanceDetails.check_in_comments" type="text"
                            [disabled]="enrol.attendanceDetails.checked_in==1"></ion-textarea>
                    </ion-col>
                </ion-row>
            </div>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <div>
        <ion-row>
            <!-- <ion-col col-12 style="padding:5px 0px 0px 0px">
                <ion-item class="comments_item">
                    <ion-textarea type="text" [(ngModel)]="attendance.comments" rows="3"
                        placeholder="Check-In Comments">
                    </ion-textarea>
                </ion-item>
            </ion-col> -->
            <ion-col col-12>
                <button ion-button block class="timekare-primary-btn" (click)="saveCheckIn()"
                    [disabled]="this.is_all_checked">Save</button>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>