<ion-header>
    <ion-navbar class="modern-navbar">
        <button ion-button menuToggle class="menu-btn">
            <ion-icon name="apps"></ion-icon>
        </button>
        <ion-title class="navbar-title">
            {{LangObj.Setup_Setup || 'Setup'}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDashboardMenuPage()" class="home-btn">
                <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button icon-only (click)="presentPopover($event)" class="more-btn">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="setup-content">
    <div class="setup-container">
        <ion-grid>
            <ion-row wrap>
                <ion-col col-4 class="setup-card-wrapper" (click)="goTo(m)" *ngFor="let m of menus">
                    <div class="setup-card">
                        <div class="card-icon-wrapper">
                            <ion-icon *ngIf="m.MobIcon != undefined && m.MobIcon !='' " [name]="m.MobIcon"
                                class="card-icon"></ion-icon>
                            <img *ngIf="m.MobLocalImage != undefined && m.MobLocalImage !='' " [src]="m.MobLocalImage"
                                class="card-image">
                            <img *ngIf="m.MobCloudImage != undefined && m.MobCloudImage !='' " [src]="m.MobCloudImage"
                                class="card-image">
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">{{getLabel('Setup_' +m.DisplayTitle) || m.DisplayTitle}}</h3>
                            <p class="card-subtitle">Configure settings</p>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>