@import '../../../theme/android-sdk35-fixes.scss';

page-bookingsetup {
    @include android-sdk35-fixes;



    .name{
        text-transform: capitalize;
        font-weight: 500;
        color: rgba(0,0,0,0.85) !important;
        font-size: 18px;
    }
}
