<ion-header *ngIf="themeType == 1">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Coach</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-header>
    <ion-navbar *ngIf="themeType == 2">
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps"></ion-icon>
    </button>
        <ion-title>
            Coach
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDashboardMenuPage()">
                 <img src="assets/images/home.svg" class="home_btn">
            </button>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-grid class="dropdown">
        <ion-col col-12>
            <ion-item>
                <ion-label>Venue</ion-label>
                <ion-select [(ngModel)]="selectedClub">
                    <ion-option *ngFor="let club of clubs" value={{club.$key}}>{{club.ClubName}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12>
            <ion-item>
                <ion-label>Game</ion-label>
                <ion-select [(ngModel)]="game">
                    <ion-option value="c">Cricket</ion-option>
                    <ion-option value="t">Tennis</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-grid>

    <ion-scroll scrollY="true" class="block_height">





        <ion-list *ngFor="let item of coachList" class="slider_list_margin">
            <ion-item-sliding>
                <ion-item class="ion_item_custom">
                    <ion-row>
                        <ion-col col-1>
                            <img src="assets/images/dummyCoach.jpg" class="coach-img">
                        </ion-col>
                        <ion-col col-11>
                            <h2 class="card-h2-style">{{item.FirstName}}{{item.LastName}}</h2>
                            <p>Level : {{item.Level}}</p>
                            <p>Available At: Place1</p>
                        </ion-col>
                    </ion-row>
                </ion-item>


                <ion-item-options side="right">
                    <!--<button ion-button color="secondary" (click)="selectVenue()">
                        <ion-icon name="ion-create"></ion-icon>
                        Venue
                    </button>-->
                    <button ion-button style="background-color:#2b92bb !important; color: white !important">
                        <ion-icon name="ion-create"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-scroll>

    <!--<ion-fab right bottom (click)="addCoach()">
        <button ion-fab mini style="background-color:#2b92bb !important; color: white !important"><ion-icon name="add"></ion-icon></button>
    </ion-fab>-->
</ion-content>