@import '../../../theme/android-sdk35-fixes.scss';

editcoach-page {
    @include android-sdk35-fixes;
.right{
         float: right;
     }
     .scroll-content {
        background-image:none !important; 
        padding: 0px !important;
    }
    .float-label{
        transform: translate3d(0,-6px,0)!important;
        
    }
    ion-label{
        font-size: 14px !important;
        color: rgba(0,0,0,0.85);
    }
    .text-input{
        margin-left: 0 !important;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
    .help_btn {
        padding: 0px !important;
        font-size: 24px !important;
        margin: 0px !important;
        height: 42px !important;
        width: 42px;
    }
}
