@import '../../../theme/android-sdk35-fixes.scss';

venueassigntocoach-page {
    @include android-sdk35-fixes;
    .list{
        margin:0px;
    }
    .list-header-md {
        margin-bottom: 0px; 
    
        margin-top: 3px;
    }
    .list > .list-header-md {
        
    
        margin-top: 0px;
    }
    .list-modifier{

        font-size: 1.8rem;
        background-color: #d6d6d6;
        color: #030303;
    }
}
