<ion-header *ngIf="themeType == 1">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Assign SubCategory</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-header>
    <ion-navbar *ngIf="themeType == 2">
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps" ></ion-icon>
    </button>
        <ion-title>
            Assign SubCategory
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>




    <ion-card *ngFor="let item of allSubCategoryArr" class="card-view">
        <ion-card-content class="slidingcards">
            <ion-item>
                <ion-label>{{item.MembershipSubCategoryName}}</ion-label>
                <ion-checkbox color="blue" checked="item.IsSelected" [(ngModel)]="item.IsSelected"></ion-checkbox>
            </ion-item>
            <!--<h2>SubCategory Name:{{item.MembershipSubCategoryName}}</h2>-->
            <ion-item class="margin">
                <ion-label floating>Enter Alias Name</ion-label>
                <ion-input type="text" [(ngModel)]="item.Aliasname"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>




    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button block style="background-color:#2b92bb !important; color: white !important" (click)="cancelAssignMemberSubcategory()">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block class="timekare-primary-btn" (click)="saveAssignMemberSubcategory()">Save</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>