@import '../../../theme/android-sdk35-fixes.scss';

mailtomemberbyadmin-page {
    @include android-sdk35-fixes;
    
    .scroll-content {
        background-image: none !important;
        padding: 16px 9px !important;
        background-color: #f7f7f7;
    }
}
