<ion-header>
  <ion-navbar>
    <ion-title>Send Email</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendEmailToMembers()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="email-header">
    <div class="recipient-badge-row">
      <div class="recipient-badge">
        <ion-icon name="people"></ion-icon>
        <span>{{numberOfPeople}}</span>
      </div>
      <button type="button" class="select-all-toggle" *ngIf="isLeagueTeams && module_obj.email_users.length > 0" (click)="toggleSelectAll()">
        <ion-icon [name]="allSelected ? 'checkbox' : 'square-outline'"></ion-icon>
        <span>{{allSelected ? 'Unselect all' : 'Select all'}}</span>
      </button>
    </div>
    <div class="recipient-chips" *ngIf="!isLeagueTeams">
      <span class="recipient-chip" *ngFor="let user of module_obj.email_users">
        {{user.MemberName}}
      </span>
    </div>
    <div class="recipient-chips" *ngIf="isLeagueTeams">
      <button type="button" class="recipient-chip"
        *ngFor="let user of module_obj.email_users"
        [class.chip-unselected]="!user.selected"
        [class.chip-paid]="user.payStatus == 1"
        [class.chip-pending]="user.payStatus == 0"
        (click)="toggleRecipient(user)">
        <ion-icon [name]="user.selected ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        {{user.MemberName}}
      </button>
    </div>
  </div>

  <ion-list>
    <ion-item class="form-item">
      <ion-label>Subject</ion-label>
      <ion-input #subjectInput type="text" [(ngModel)]="emailObj.Subject" placeholder="Enter subject"></ion-input>
    </ion-item>

    <ion-item class="form-item description-item">
      <ion-label stacked>Message</ion-label>
      <ion-textarea #messageInput rows="15" style="white-space:pre-wrap;" [(ngModel)]="emailObj.Message" placeholder="Type a message here..."></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="send-btn-wrap">
    <button class="btn-send" (click)="sendEmailToMembers()">
      <ion-icon name="send"></ion-icon> Send Email
    </button>
  </div>
</ion-content>
