<!--
  Generated template for the PricebandPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Price Band</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Venue</ion-label>
        <ion-select [(ngModel)]="selectedClubKey" (ionChange)="onClubChange()">
          <ion-option *ngFor="let club of allClub" value={{club.$key}}>{{club.ClubName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="margin">
            <ion-label>Activity</ion-label>
            <ion-select [(ngModel)]="selectedActivity" (ionChange)="getpriceBand()">
                <ion-option *ngFor="let item of allActivityArr" value={{item.$key}}>{{item.ActivityName}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-card style="border-left: 2px solid #31a3ef;border-bottom: 1px solid #f38f11;margin: 4px 0px !important;width:100% !important;" *ngFor="let fm of pricebandList" (click)="presentActionSheet(fm)">
            <ion-card-content>
              <ion-row >
                <ion-col col-6>
                  <p class="name"> {{fm.PriceBandName}}</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-row *ngIf="pricebandList.length == 0">
            <ion-card style=" margin:30px 0px 0px 0px !important; width:100% !important; -webkit-box-shadow: none !important; box-shadow: none !important; border-bottom: 1px solid #f6ae4d !important;">
                <ion-card-content style="text-align: center; ">
                    <p class="danger_color2  padding: 0; ">{{Nocourtavailable}}</p>
                </ion-card-content>
            </ion-card>
        </ion-row>
        <ion-fab right bottom>
          <button ion-fab mini style="background-color:#2b92bb !important; color: white !important" (click)="goToCreatePriceband()" style="background-color:#2b92bb !important; color: white !important"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
    <!-- <ion-fab *ngIf="pricebandList.length == 0" right bottom>
        <button ion-fab mini style="background-color:#2b92bb !important; color: white !important" (click)="goToCreatePriceband()" style="background-color:#2b92bb !important; color: white !important"><ion-icon name="add"></ion-icon></button>
      </ion-fab> -->
</ion-content> 
