<!--
  Generated template for the AddingtornamentmemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>League Member</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <ion-item class="search_add">
    <ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="getFilterItems($event)" autocorrect="off"
      placeholder="Search by name"></ion-searchbar>
  </ion-item>

  <ion-list class="ion_list">
    <ion-list-header class="session_header" style="font-size: 18px;">
      Member Lists
    </ion-list-header>
  </ion-list>


  <ion-list>
    <ion-item *ngFor="let member of filteredMembers;let i = index;">
      <ion-label>{{member.FirstName}} {{member.LastName}} ({{this.commonService.getAge(member.DOB)}})</ion-label>
      <ion-checkbox [(ngModel)]="member.isSelected" [disabled]="member.isAlreadyExisted"
        (ionChange)="onMemberSelectionChange(member,$event)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="search_term==''">
    <ion-infinite-scroll-content loadingSpinner="crescent"
      loadingText="Loading more data...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button block [disabled]="leagueParticipantInput.participantsIds.length == 0" class="timekare-primary-btn" (click)="onMemberConfirm()"
          >Add Members ({{leagueParticipantInput.participantsIds.length}})</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
