<!--
  Generated template for the PaidmemberstatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
      <ion-label>First Name</ion-label>
      <ion-checkbox color="blue" checked="true" disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-checkbox color="blue" checked="true" disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-label>Session</ion-label>
      <ion-checkbox color="blue" checked="selectOBj.isSession" [(ngModel)]="selectOBj.isSession"></ion-checkbox>
  </ion-item>
  <ion-item>
      <ion-label>Coach</ion-label>
      <ion-checkbox color="blue" checked="selectOBj.isCoach" [(ngModel)]="selectOBj.isCoach"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Venue</ion-label>
    <ion-checkbox color="blue" checked="selectOBj.isVanue" [(ngModel)]="selectOBj.isVanue"></ion-checkbox>
</ion-item>
<ion-item *ngIf="this.showType != 'due'">
  <ion-label>Payment Date</ion-label>
  <ion-checkbox color="blue" checked="selectOBj.isDate" [(ngModel)]="selectOBj.isDate"></ion-checkbox>
</ion-item>
<ion-item *ngIf="this.showType != 'due'">
  <ion-label>Payment Mode</ion-label>
  <ion-checkbox color="blue" checked="selectOBj.isMode" [(ngModel)]="selectOBj.isMode"></ion-checkbox>
</ion-item>
<ion-item *ngIf="this.showType != 'due'">
  <ion-label>Discount Amount</ion-label>
  <ion-checkbox color="blue" checked="selectOBj.isDiscount" [(ngModel)]="selectOBj.isDiscount"></ion-checkbox>
</ion-item>
<ion-item *ngIf="this.showType != 'due'">
  <ion-label>Paid Amount</ion-label>
  <ion-checkbox color="blue" checked="selectOBj.isPaid" [(ngModel)]="selectOBj.isPaid"></ion-checkbox>
</ion-item>
<ion-item *ngIf="this.showType == 'due'">
  <ion-label>Due Amount</ion-label>
  <ion-checkbox color="blue" checked="selectOBj.isDue" [(ngModel)]="selectOBj.isDue"></ion-checkbox>
</ion-item>
  <ion-grid>
      <ion-row>
          <ion-col col-6>
              <button ion-button block style="background-color:#2b92bb !important; color: white !important" (click)="cancelsendMailToParentClub()">Cancel</button>
          </ion-col>
          <ion-col col-6>
              <button ion-button block class="timekare-primary-btn" (click)="presentActionSheet()">Print ({{memberList.length}})</button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content> 
