<ion-header *ngIf="themeType == 1">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Notification</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <!-- <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="selectedTab">
            <ion-segment-button value="Recents" (click)="notificationTabClick()">
                Recents
            </ion-segment-button>
            <ion-segment-button value="Compose" (click)="notificationTabClick()">
                Compose
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->
</ion-header>
<ion-header *ngIf="themeType == 2">
    <ion-navbar>
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
            <ion-icon name="apps"></ion-icon>
        </button>
        <ion-title>
            Notification
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDashboardMenuPage()">
                <img src="assets/images/home.svg" class="home_btn">
            </button>

            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <!-- <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="selectedTab">
            <ion-segment-button value="Recents" (click)="notificationTabClick()">
                Inbox
            </ion-segment-button>
            <ion-segment-button value="Compose" (click)="notificationTabClick()">
                Compose
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->
</ion-header>
<ion-content class="cards-bg social-cards" padding>
    <ion-list>
        <div class="container" *ngFor="let item of recentNotificationList;let i=index;">
            <ion-item-sliding *ngIf="item.IsActive == true || item.IsActive == undefined">
                <ion-item>
                    <ion-card class="cards" (tap)="showBlock(i,item.Message)">
                        <ion-card-content style="padding:0px;">
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-1>
                                        <div id="round" [ngClass]="{'red':item.SendBy == 'Admin'}"></div>
                                    </ion-col>
                                    <ion-col col-11 style="margin-left: -15px;">
                                        <p>
                                            <span *ngIf="item.Purpose != '' && item.Purpose != undefined"
                                                style="font-size: 16px;font-weight: 400;">{{item.Purpose}}</span>
                                            <span *ngIf="item.Purpose == ''|| item.Purpose == undefined"
                                                style="font-size: 16px;font-weight: 400;">Info</span>

                                            <span style="float:right;">{{item.ComposeOn}}</span>
                                            <span style="float:right;"
                                                *ngIf="item.SendBy == 'Admin'|| item.sendByRole == 'Admin'">
                                                <ion-icon name="arrow-round-back" id="icon1"></ion-icon>
                                            </span>
                                            <span style="float:right;"
                                                *ngIf="item.SendBy == 'Member' || item.SendBy ==''||item.SendBy == 'Member App'">
                                                <ion-icon name="arrow-round-back" id="icon2"></ion-icon>
                                            </span>

                                        </p>
                                        <p class="elipsesdot" *ngIf="item.Member != undefined"
                                            style="font-size: 14px;font-family: 'Mukta Mahee', sans-serif;">
                                            <span *ngIf="item.SendBy == 'Admin' ">To:</span>
                                            <span *ngIf="item.SendBy == 'Member' ">From:</span>
                                            <span *ngFor="let item1 of item.Member">
                                                {{item1.Name}}
                                                <span *ngIf="item.Member.length >1">, </span>
                                            </span>
                                        </p>
                                        <p class="elipsesdot">{{item.Message}}</p>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                    <div class="note" *ngIf="i==blockIndex">
                        <ion-card>
                            <ion-card-content style="padding:0">
                                <ion-row>
                                    <ion-col col-10>
                                        <p *ngIf="item.Member != undefined"
                                            style="border-bottom: .009em solid #cececf;">
                                            <ion-icon ios="ios-person" md="md-person" class="icon2"></ion-icon>
                                            <span *ngFor="let item1 of item.Member">
                                                {{item1.Name}}
                                                <span *ngIf="item.Member.length >1">, </span>
                                            </span>
                                        </p>
                                        <p style="margin-top: 5px;white-space:pre-wrap;color: gray;" id="a{{i}}">
                                            {{item.Message}}</p>
                                    </ion-col>
                                    <ion-col col-2>
                                        <button ion-fab mini style="background-color:#2b92bb !important; color: white !important" (click)="copy(item.Message)" style="background-color:#2b92bb !important; color: white !important"
                                            class="btn-copy">
                                            <ion-icon name="copy"></ion-icon>
                                        </button>
                                    </ion-col>
                                </ion-row>

                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-item>

                <ion-item-options side="right" (ionSwipe)="delete(item)">
                    <button ion-button expandable (click)="delete(item)" style="background-color:#2b92bb !important; color: white !important">
                        <ion-icon name="ios-trash-outline">
                            Delete
                        </ion-icon>
                    </button>
                </ion-item-options>

            </ion-item-sliding>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>


    <!-- <ion-fab mini right bottom #fab>
        <button ion-fab mini class="fav-ico" style="background-color: #2b92bb; color:white !important" (click)="goToNotificationContainer()">
            <ion-icon name="md-create"></ion-icon>
        </button>
    </ion-fab> -->

    <!-- as shubhankar said commented the bewlo fab buttons code -->
    <!-- <ion-fab mini right bottom #fab>
        <button ion-fab mini class="fav-ico" style="background-color: #2b92bb; color:white !important">
            <ion-icon name="md-create"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <p class="fabEmailText" (click)="goToNotificationContainer(fab,0)">Notification</p>
          <button (click)="goToNotificationContainer(fab,0)" style="background-color:#2b92bb !important ;color: white !important" ion-fab class="fabTop">
            <ion-icon name="ios-notifications"></ion-icon>
          </button>
          <p class="fabEmailText" (click)="goToNotificationContainer(fab,1)">Email</p>
          <button (click)="goToNotificationContainer(fab,1)" style="background-color:#2b92bb !important;color: white !important " ion-fab class="fabTop">
            <ion-icon name="ios-mail"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab> -->
    <!-- <div [ngSwitch]="selectedTab">
       
       
      


     
    </div> -->
</ion-content>