@import '../../../../theme/android-sdk35-fixes.scss';

page-stripeconnectsetuplist {
    @include android-sdk35-fixes;



    .card-content{
        font-size: 1.4rem;
        line-height: 1.4;
        padding: 5px !important;
        p{
            font-size: 16px;
        }
    }
    .card{
        border-bottom: 2px solid #faa928d3;
        //box-shadow: none !important;
        margin-top: 5px;
    }
    .no-setup{
        color: #555353;
        text-align: center;
        font-size: 16px;
    }
    .disabled{
        border-left: 3px solid red;
    }
    .fabTop {
        margin-bottom: 13px;
      }
      .fabAttendanceText {
        //margin-left: -130px;
        background-color: #2b92bb !important ;
        margin-top: -47px;
        padding: 6px 12px 6px 11px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
      }
      .fabEmailText {
        //margin-left: -115px;
        background-color: #2b92bb !important ;
        margin-top: -47px;
        padding: 6px 12px 6px 11px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14),
          0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      }
}
