<!--
  Generated template for the CreteproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div>
  <ion-item  *ngIf="gallery_categories && gallery_categories.length > 0">
    <ion-label class="select_label">Select Category</ion-label>
    <ion-select [(ngModel)]="gallery_item.ProductCategoryId" >
      <ion-option *ngFor="let category of gallery_categories" value={{category.id}}>{{category.category_name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label stacked>Item Name</ion-label>
    <ion-input type="text" [(ngModel)]="gallery_item.Variant_ShortName" plcaeholder="enter variant short name..."></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label class="select_label">Item Size</ion-label>
    <ion-select [(ngModel)]="gallery_item.Variant_Size" >
      <ion-option *ngFor="let size of variant_sizes" value={{size.id}}>{{size.name}}</ion-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-label stacked>Points to buy</ion-label>
    <ion-input type="number" [(ngModel)]="variant_parice" plcaeholder="enter variant price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Quantity Available</ion-label>
    <ion-input type="number" [(ngModel)]="gallery_item.Variant_Quantity" plcaeholder="enter variant quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Description</ion-label>
    <ion-textarea rows="4" [(ngModel)]="gallery_item.Variant_Description" class="area"></ion-textarea>
  </ion-item>
  </div>

  <div style="margin-top: 10px;">
    <ion-row class="image-container">
      <ion-col col-6 *ngFor="let img of imgUrls;let i=index;">
      <!-- <ion-col col-6 *ngFor="let img of [1,2,3,4,5,6];let i=index;"> -->
        <div class="image_div">
          <ion-icon name="close-circle" (click)="deleteImage(i)"></ion-icon>
          <!-- <img class="default_tit_img" src="assets/images/img_placehlder.png"> -->
          <img src="{{img.file_uri}}" alt="" srcset="" (click)="showFullViewImage(i)">
        </div>
      </ion-col>
    </ion-row>
  </div>
  
  <ion-fab right bottom class="bottom_10">
    <p class="fabEmailText" (click)="chooseGalleryImages()" >
      Upload Photos
    </p>
    <button ion-fab mini style="background-color: #2b92bb;" (click)="chooseGalleryImages()"
        style="background-color:#2b92bb !important; color: white !important">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


<div class="img_viewer_wrapper" *ngIf="showFullImage">
  <div class="img_viewer_div">
    <ion-icon name="close-circle" (click)="showFullImage=false"></ion-icon>
    <img src="{{full_view_img}}" alt="" srcset="">
  </div>
</div>

<ion-footer>
  <ion-row>
    <ion-col col-12>
      <button ion-button large block class="createbutton" (click)="uploadPhotos()">Create</button>
    </ion-col>
  </ion-row>
</ion-footer>