<!--
  Generated template for the MatchinviteplayersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Invite Players</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item class="search_add">
    <ion-searchbar class="search" placeholder="Search Players by name" autocorrect="off"
      (ionInput)="getFilterItems($event)" showCanelButton="shouldShowCancel" animated>
    </ion-searchbar>
  </ion-item>

  <ion-list class="ion_list">
    <ion-list-header class="session_header" style="font-size: 18px">
      Players List
    </ion-list-header>
  </ion-list>


  <ion-list *ngIf="filteredMembers.length > 0">
    <ion-item *ngFor="let member of filteredMembers;let i = index">
      <ion-label>{{member.FirstName}} {{member.LastName}}
        ({{getAge(member.DOB)}})</ion-label>
      <ion-checkbox [(ngModel)]="member.isSelect" [disabled]="member.isAlreadExisted" (ionChange)="selectMembers(member,$event)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="search_term==''">
    <ion-infinite-scroll-content loadingSpinner="crescent"
      loadingText="Loading more data...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button (click)="inviteUsers()" ion-button block class="timekare-primary-btn">
          Add Players
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>