report-page{

    .scroll-content{
       //background-image: none !important;
        background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1, #efefef) !important;
        background-size: 100% 100%;
        margin-top: 57px;
        padding: 14px 8px 8px 8px !important;
        background-color: white;
    }  
    $user-icon-size : 44px;
    // .dashboard_user{
    //     font-size: $user-icon-size;
    //     color: $dashoboard-icon-color;
    // }
    .dashboard_col_item_block{
       padding: 0px 5px 0px 5px;
       text-align: center;
       margin-bottom: 8px;
    }
    //  .dashboard_col_item{
    //        background-color: #fffefe;
    //          //background-color: rgba(155, 147, 147, 0.34);
    //      padding-bottom: 1px;
    //      border-bottom: 2px solid #faa928d3 !important;
    //      border-radius: 5px;
    // }
    // .dashboard_col_item_name{
    //     color: $dashoboard-icon-color;
    //     font-weight: bold;
    //     margin-top: 0px;
    // }
    // .logo-img{
    //     margin-top: 5px;
    //     height: 39px;
    // }



    //new UI css

    .marginauto{
        margin:auto;
        .forward_icon{
            color: #7a7878 !important;
            font-size: 30px !important;
        }
    }
    .venueList{
        color: rgba(0, 0, 0, 0.5294117647058824);
    }
    .icon-img{
        margin:auto;
        // width:60px;
        // height: 60px;
        font-size:50px ;
        color: #2292bb !important;
    }
    .cardpending {
        margin-bottom: 10px;
        border-radius: 12px;
        background: #ffffff;
        box-shadow: 0px 2px 8px -1px #b4b3b7;
        height:100px;
        ion-card-content{
            padding: 5px 10px !important; 
            height: 100%;
            line-height: 50px;
        }
    }
     .item-inner {
        border: none !important;
        box-shadow: none !important;
    }
    .header_icon{
        font-size:6rem;
        color: #2292bb !important;
    }











}