innerpaymentmenu-page{
    .scroll-content {
        //background-image: url("../assets/images/background/backgroundimg1.png") !important;
        //background-image: none !important;
        background-size: 100% 100%;
        margin-top: 57px;
        padding: 14px 8px 8px 8px !important;
        background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1, #efefef) !important;
        //background-color: rgb(106, 201, 218);
        //background-color: white;
    }
    .logo_center {
        text-align: center;
    }
    $user-icon-size: 44px;
    .dashboard_user {
        font-size: $user-icon-size;
        // color: $dashoboard-icon-color;
    }
    .dashboard_col_item_block {
        padding: 0px 5px 0px 5px;
        text-align: center;
        margin-bottom: 8px;
    }
    .dashboard_col_item {
        background-color: #fffefe;
        //background-color: rgba(155, 147, 147, 0.34);
        padding-bottom: 1px;
        border-radius: 5px;
        //border-bottom: 2px solid #faa928d3 !important;
    }
    .logo-img {
        margin-top: 5px;
        height: 39px;
    }
    .icon-img{
        // height: 44px;
        // border-radius: 50%;
        // width: 44px;
        margin:auto;
        width:60px;
        height: 60px;
    }




    //latest card styles added by vinod
    .marginauto{
        // margin-top: auto;
        // margin-bottom: auto;
        margin:auto;
        .forward_icon{
            color: #7a7878 !important;
            font-size: 31px !important;
        }
    }
    .venueList{
        color: rgba(0, 0, 0, 0.5294117647058824);
    }
    .selecteachvenue{
        background-color: #FFC107 !important;
        span{
            color:white;
        }
       
    }
    .venueList{
        color: rgba(0, 0, 0, 0.5294117647058824);
    }
    .cardpending {
        margin-bottom: 10px;
        border-radius: 12px;
        background: #ffffff;
        box-shadow: 0px 2px 8px -1px #b4b3b7;
        height:120px;
        ion-card-content{
            padding: 20px 16px 14px;
        }
    }
     .item-inner {
        border: none !important;
        box-shadow: none !important;
    }
    .header_icon{
        font-size:6rem;
        color: #2292bb !important;
    }
}