@import '../../../theme/android-sdk35-fixes.scss';

page-profilelocker {
    @include android-sdk35-fixes;



  .scroll-content {
    padding: 0px !important;
    background-image: none !important;
    // background: white !important;
    background: #f4efef !important;
    // margin-bottom: 60px;
  }
  .img {
    // background-image: url("https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y");
    background-size: cover;
    min-height: 200px;
  }
  .badge {
    background-color: lightblue;
    height: 90%;
    border-radius: 12px;
  }
  .tag {
    border-radius: 0px 12px 0px 5px;
    height: 26px;
    width: 40px;
    position: absolute;
    left: 132px;
    top: 5px;
    background: lightblue;
  }
}
