page-createmandates {
    .text-input::-webkit-input-placeholder {
        text-align: center;
      }
    ion-input{
        border: 1px solid #b3aeae;
        margin-top: 7px;
        border-radius: 30px;
        text-align: -webkit-center;
        .text-input{
            text-align: -webkit-center !important;
            color: #795548;
        }
    }
    .scroll-content {
        background-image: none !important;
        padding: 6px !important;
        background-color: #f7f7f7;
    }
    ion-select{
        padding: 0px 0px 0px 0px !important;
        max-width: 100% !important;
    }
    .select-text{
        padding-top: 10px !important;
        color:#faae4e !important;
    }
    .select-icon {
        position: absolute !important;
        width: 30px !important;
        height: 30px !important;
        background: #faae4e !important;
        border-radius: 50% !important;
        color: white !important;
        right: 19px !important;
        .select-icon-inner{
            left: 10px !important;
            margin-top: 0px !important; 
            width: 9px !important;
            color:white !important;
        }
    }
    .allignment-col{
        text-align: -webkit-center;
        margin-top: 9px;
    }
    .button{
        width: 94%;
        // border-radius: 30px;
        // background-color: #ffffff;
        // color: #eeae61;
        // margin: 8px;
    }
    .btn-row{
        margin-top: 15px;
    }
    .btn-col{
        text-align: -webkit-center;
    }
    ion-col{
        padding: 0px !important;
    }
    .searchbar-input{
        border-radius: 30px !important;
    }
    .label{
        color: #827d7d;
        text-transform: capitalize;
    }
    .name{
        color: #607D8B;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #607D8B;
        text-transform: capitalize;
    }
}
