<!--
  Generated template for the ShowfamilymemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Family Member</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="familyInfo.length > 0">
      <div *ngFor="let member of familyInfo;let i = index">
          <ion-card class="cardStyle" *ngIf="member.IsActive" [class.selected]="false === member.IsEnable" >
              <ion-card-content >
                <ion-row>
                  <ion-col col-9 style="padding: 0px;margin:auto">
                      <p class="memberfont">
                          {{member.FirstName}}  {{member.LastName}} &nbsp;({{this.commonService.calculateAgeFromDOB(member.DOB)}}Yrs)
                      </p>
                      <span *ngIf="member.PhoneNumber!= undefined && member.PhoneNumber!=''">
                          <ion-icon name="ios-call-outline"></ion-icon> {{member.PhoneNumber}}</span>
                      <p  *ngIf="member.EmailID!= undefined && member.EmailID!=''">
                          <ion-icon name="ios-mail-outline"></ion-icon> {{member.EmailID}}</p>
                      <p style="color:#3a9856;" *ngIf="member.SetupName != undefined"><ion-icon style="color:#a52a2a;"name="ios-card-outline"></ion-icon> {{member.SetupName}}</p>
                      <p style="color:brown"*ngIf="member.CurrentPayment != undefined"><ion-icon style="color:brown" name="cash"></ion-icon> {{member.CurrentPayment}} &nbsp;<span style="color:brown"*ngIf="member.Validity != undefined"> <ion-icon ios="ios-timer" md="md-timer"></ion-icon> {{member.Validity}}</span></p>                      
                  </ion-col>
                  <ion-col col-3 style="padding: 0px" class="center-align">
                     <button style="height: 40px;width: 40px;background:transparent"
                     (click)="goToEditfamilyPage(member,i)">
                      <ion-icon name="md-create"  class="create-icon" ></ion-icon>
                     </button>
                  </ion-col>
                </ion-row>
                 
              </ion-card-content>
          </ion-card>
      </div>
  </div>
  <div *ngIf="familyInfo.length == 0">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-12 class="session-col" style="color:red;text-align:-webkit-center;">No Family Member Added</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </div>
  <ion-fab mini right bottom #fab>
    <button style="background-color:#2b92bb !important; color: white !important" ion-fab mini (click)="addFamilyMember()">
        <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
