<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>Match Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon (click)="gotoDashboard()" name="home"></ion-icon>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<div style="width: 100%; height: 100%">
  <ion-card class="headercard">
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          <div style="display: flex; justify-content: space-around">
            <div class="matchesplayed">
              <span>{{Today}}</span>
              <p>Today</p>
            </div>

            <div class="matchesplayed">
              <span>{{matches?.length}}</span>
              <p>Total</p>
            </div>
          </div>

          <div>
            <!-- <ion-searchbar
              class="search"
              placeholder="Search by Host, Title, Activity etc"
              autocorrect="off"
              (ionInput)="getFilterItems($event)"
              showCanelButton="focus"
              animated
            >   
            </ion-searchbar> -->
            <ion-row class="sub-container rows-allign2">
              <ion-col col-1 style="text-align: center; margin-top: 12px; padding: 0px">
                <!-- <button>
                  <ion-icon name="ios-search"></ion-icon>
              </button> -->
                <ion-icon name="ios-search"></ion-icon>
              </ion-col>
              <ion-col col-11 class="search-bar">
                <ion-searchbar placeholder="Search by Host, Title, Activity" id="customsearchbar"
                  [(ngModel)]="searchInput" (ionInput)="getFilterItems($event)" autocorrect="off"></ion-searchbar>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <div *ngIf="filteredMatches.length > 0">
    <ion-card
      (click)="gotoMatchdetailsPage(match)"
      class="matchcard"
      *ngFor="let match of filteredMatches"
      style="margin-top: 5px !important"
    >
      <ion-card-content style="margin-top: 0px !important">
        <ion-row>
          <ion-col col-7>
            <div class="cardrow">
              <p class="date" style="overflow: unset !important;">{{formatMatchStartDate(match.MatchStartDate)}}</p>
            </div>
            <div class="cardrow">
              <p
                *ngIf="match.Activity && match.Activity.ActivityName"
                class="largetext"
              >
                {{match.Activity.ActivityName}}
              </p>
              <p class="largetext">
                {{match.MatchType==0?"Singles":"Doubles"}}
              </p>
            </div>
            <div class="cardrow">
              <ion-icon name="locate" style="color: #2b92bb"></ion-icon>
              <p class="largetext" *ngIf="match.VenueName!=null">
                {{match.VenueName}}
              </p>
            </div>
           
            <div class="cardrow">
              <p class="smalltext">{{match.MatchTitle}}</p>
            </div>
          </ion-col>
          <ion-col col-5 style="margin: auto">
            <div class="cardrow">
              <ion-icon
                name="locate"
                style="color: #2b92bb; padding-left: 20px"
              ></ion-icon>
              <p class="smalltext">Host:</p>
            </div>

            <div class="cardrow">
              <p
                style="padding-left: 20px"
                *ngIf="match.Hosts && match.Hosts.length>0"
              >
                <span class="host" *ngFor="let host of match.Hosts"
                  >{{host.Name}}</span
                >
              </p>
            </div>

            <div class="cardrow">
              <ion-icon
                style="padding-left: 20px; font-size: 18px; color: #2b92bb"
                [name]="match.MatchVisibility==0?'ios-globe':'ios-lock-outline'"
              ></ion-icon>
              <p class="smalltext">
                {{match.MatchVisibility==0?"Public":"Private"}}
              </p>
            </div>
            <div class="cardrow">
              <p class="pending" style="margin-left: 17px;">
                {{match.ResultStatus==0?"Pending":"Published"}}
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>  -->

  <ion-row *ngIf="filteredMatches.length > 0">
    <ion-col col-12 style="padding-left: 10px" *ngFor="let match of filteredMatches">
      <!-- <div class="all border-left-style"></div> -->

      <!-- <ion-card (click)="gotoMatchdetailsPage(match)">
        <ion-card-header class="Location-head">
          <ion-row>
            <p class="name">{{formatMatchStartDate(match.MatchStartDate)}}</p>
          </ion-row>
        </ion-card-header>
        <ion-card-content style="color: #c5b495">
          <ion-row>
            <ion-col col-6>
              <p class="card-text">
                <span>{{match.MatchTitle}}</span>
              </p>

              <p class="card-text" *ngFor="let host of match.Hosts">
                <span>{{host.Name}}</span>
              </p>
            </ion-col>
            <ion-col col-6>
              <p class="card-text">
                <span
                  >{{match.MatchType==0?"Singles":"Doubles"}} -
                  <span *ngIf="match.Activity && match.Activity.ActivityName"
                    >{{match.Activity.ActivityName}}</span
                  ></span
                >
              </p>

              <p class="card-text" *ngIf="match.VenueName!=null">
                <span>{{match.VenueName}}</span>
              </p>
              <div class="flex-style">
                <div>
                  <ion-icon
                    style="font-size: 18px; color: #2b92bb"
                    [name]="match.MatchVisibility==0?'ios-globe':'ios-lock-outline'"
                  ></ion-icon>
                  <span> {{match.MatchVisibility==0?"Public":"Private"}} </span>
                </div>

                <span style="margin-top: 4px"
                  >{{match.ResultStatus==0?"Pending":"Published"}}</span
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card> -->

      <ion-card class="maincard" (click)="gotoMatchdetailsPage(match)">
        <ion-card-header class="Location-head " style="padding: 2px 0px 5px 0px;">

          <ion-card-title style="font-weight: 600;font-size: 20px; color: #154766;text-align: center;">
            {{formatMatchStartDate(match.MatchStartDate)}}
          </ion-card-title>
          <ion-card-title class="largetext" style="text-align: center;">
            {{match.MatchTitle}}
          </ion-card-title>
        </ion-card-header>


        <ion-card-content style="padding-right: 2px; padding-left: 5px;padding-top: 5px;">
          <ion-row style="margin-top: -5px;">
            <ion-col>
              <p class="leftStyle">
                <span *ngIf="match.Activity && match.Activity.ActivityName">{{match.Activity.ActivityName}}</span> -
                <span>{{match.MatchType==0?"Singles":"Doubles"}}
                </span>

              </p>
            </ion-col>
            <ion-col class="align-right" *ngFor="let host of match.Hosts">
              <p class="roundStyle"> <span>{{host.Name}}</span></p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isPublish" style="margin-top: -5px;">
            <ion-col col-6>

              <ion-row>
                <div>
                  <p class="username">TBD</p>
                </div>
              </ion-row>

              <ion-row style="margin-top: 5px; margin-bottom: 4px;">
                <div style="width: 100%; height: 1px; background-color: #ded8d8; margin-right:  0;margin-left:0"></div>
              </ion-row>

              <ion-row>
                <div>
                  <p class="username">TBD
                    <!-- <span style="padding-right: 2px;"> <ion-icon name="trophy"
                    class="golden-trophy"></ion-icon></span> -->
                  </p>
                </div>
              </ion-row>
            </ion-col>

            <ion-col col-6 *ngIf="!isPending">

              <ion-row>
                <ion-col style="padding-top: 2px;">
                  <span class="gapBetween">30</span>
                  <span class="gapBetween"><strong>20</strong></span>
                  <span class="gapBetween"><strong>70</strong></span>
                  <span class="gapBetween">38</span>
                  <span class="gapBetween">50</span>
                </ion-col>
              </ion-row>
              <ion-row style="font-size: 12px; margin-top: -10px;opacity: 0.60;">
                <ion-col>
                  Pts
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding-top: 0px">
                  <span class="gapBetween"><strong>22</strong></span>
                  <span class="gapBetween">56</span>
                  <span class="gapBetween">30</span>
                  <span class="gapBetween"><strong>80</strong></span>
                  <span class="gapBetween"><strong>16</strong></span>
                </ion-col>
              </ion-row>


            </ion-col>

            <ion-col col-6 *ngIf="isPending">
              <div class="pendingStyle">Result Pending...</div>

            </ion-col>

          </ion-row>

          <ion-row class="username-row" *ngIf="!isPublish">
            <ion-col class="username-col">
              <div class="username-container">
                <p class="username">TBD</p>
              </div>
            </ion-col>
            <ion-col class="vs-col">
              <div class="vs-container">
                <span class="vs-circle">Vs</span>
              </div>
            </ion-col>
            <ion-col class="username-col">
              <div class="username-container">
                <p class="username">
                  TBD
                </p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;margin-bottom: -8px;">
            <ion-col style="text-align: left;">
              <p class="public-text">{{match.VenueName}}</p>
            </ion-col>
            <ion-col style="text-align: right;">
              <p class="public-text">{{match.MatchVisibility==0?"Public":"Private"}} </p>
            </ion-col>
          </ion-row>

          <!-- <ion-row style="margin-top: -10px;margin-bottom: -8px;">
           
            <ion-col style="text-align: right;">
              <p class="public-text"> {{match.ResultStatus==0?"Pending":"Published"}}</p>
            </ion-col>
          </ion-row> -->

        </ion-card-content>



      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-fab right bottom>
    <button
      ion-fab
      mini
      (click)="gotoCreateMatch()"
      style="background-color: #2b92bb !important; color: white !important"
      class="fab_btn1"
    >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
</div>