<!--
  Generated template for the CreateleaguePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Create Match</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Round/Stage/Type</ion-label>
      <ion-select [(ngModel)]="inputObj.Round">
        <ion-option *ngFor="let roundType of roundTypes" [value]="roundType.id">{{roundType.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Match Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="startDate" [min]="min"
        [max]="max">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Match Time</ion-label>
      <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" minuteValues="0,10,20,30,40,50,60"
        [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <div *ngIf="matchType === 'Singles'">
      <ion-item>
        <ion-label>Participants 1</ion-label>
        <ion-select placeholder=" <Select>" [(ngModel)]="inputObj.primary_participant_id"
          (ionChange)="filterParticipants()">
          <ion-option *ngFor="let participant of filteredPrimaryParticipants"
            value="{{participant.id}}">{{participant.participant_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Participants 2</ion-label>
        <ion-select placeholder=" <Select>" [(ngModel)]="inputObj.secondary_participant_id"
          (ionChange)="filterParticipants()">
          <ion-option *ngFor="let participant of filteredSecondaryParticipants"
            value="{{participant.id}}">{{participant.participant_name}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div *ngIf="matchType === 'Doubles'">
      <ion-item>
        <ion-label>Team 1 - Player 1</ion-label>
        <ion-select placeholder="<Select>" [(ngModel)]="inputObj.primary_participant_id"
          (ionChange)="filterParticipants()">
          <ion-option *ngFor="let participant of filteredPrimaryParticipants"
            value="{{participant.id}}">{{participant.participant_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Team 1 - Player 2</ion-label>
        <ion-select placeholder="<Select>" [(ngModel)]="primary_participant_id2" (ionChange)="filterParticipants()">
          <ion-option *ngFor="let participant of filteredPrimaryParticipants"
            value="{{participant.id}}">{{participant.participant_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Team 2 - Player 1</ion-label>
        <ion-select placeholder="<Select>" [(ngModel)]="inputObj.secondary_participant_id"
          (ionChange)="filterParticipants()">
          <ion-option *ngFor="let participant of filteredSecondaryParticipants"
            value="{{participant.id}}">{{participant.participant_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Team 2 - Player 2</ion-label>
        <ion-select placeholder="<Select>" [(ngModel)]="secondary_participant_id2" (ionChange)="filterParticipants()">
          <ion-option *ngFor="let participant of filteredSecondaryParticipants"
            value="{{participant.id}}">{{participant.participant_name}}</ion-option>
        </ion-select>
      </ion-item>
    </div>



    <ion-item class="allign-right">
      <ion-label fixed>Match Title</ion-label>
      <ion-input type="text" [(ngModel)]="inputObj.MatchName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-12 no-padding class="flex_col">
          <p class="toggle_para">Paid</p>
          <label class="toggle">
            <input type="checkbox" [(ngModel)]="isChecked" (ngModelChange)="updateMatchPaymentType($event)">
            <span data-unchecked="No" data-checked="Yes"></span>
          </label>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="this.inputObj.MatchPaymentType==1" class="allign-right">
      <ion-label fixed>Fee Member
        <span *ngIf="currency != undefined">({{currency}})</span>
      </ion-label>
      <ion-input type="number" class="textareastyle" placeholder="Please enter fee"
        [(ngModel)]="inputObj.Member_Fee"></ion-input>
    </ion-item>

    <ion-item *ngIf="this.inputObj.MatchPaymentType==1" class="allign-right">
      <ion-label> Fee Non Member
        <span *ngIf="currency != undefined">({{currency}})</span>
      </ion-label>
      <ion-input type="number" class="textareastyle" placeholder="Please enter fee"
        [(ngModel)]="inputObj.Non_Member_Fee"></ion-input>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6 style="margin: auto;" no-padding>
          <p class="toggle_para">Status</p>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="select-type" (click)="changeType('public')" [class.selected]="publicType">
            <ion-icon style="padding-right: 10px" name="globe"></ion-icon>
            Public
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="select-type" (click)="changeType('private')" [class.selected]="!publicType">
            <ion-icon style="padding-right: 10px" name="ios-lock-outline"></ion-icon>
            Private
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <!-- <ion-item>
        <ion-label>Stage</ion-label>
        <ion-select [(ngModel)]="inputObj.Stage">
          <ion-option value="0">GroupMatch</ion-option>
          <ion-option value="1">Qualifiers</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Group</ion-label>
        <ion-select>
          <ion-option value="0">No</ion-option>
          <ion-option value="1">Yes</ion-option>
        </ion-select>
      </ion-item> -->






    <ion-item class="comments">
      <ion-textarea type="text" rows="5" class="textareastyle" [(ngModel)]="inputObj.MatchDetails"
        placeholder="Description"></ion-textarea>
    </ion-item>




  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button large block class="createbutton" (click)="createMatchConfirm()">
          Create
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>