.color-theme-4 {
$toolbar-background-color4:#5261BC;
$toolbar-button-text-color4:#ffffff;
$toolbar-title-color4:#ffffff;
$color4-inner-background-image: '../assets/images/background/color4bg.png';
$color4-login-background-image: '../assets/images/background/loginbg.png';

$segment-ios-button-clr-color4:#384383;
$segment-md-button-act-border-clr-color4:#384383;
$segment-wp-button-text-clr-color4:#ffffff;

$button-save-bg-clr-color4:#384383;

  .toolbar-title {
    color: $toolbar-title-color4;
  }
  .toolbar-background {
    background-color: $toolbar-background-color4;
  }
  .bar-button {
    color:$toolbar-button-text-color4;
  }
  .scroll-content {
   // margin-top: 44px !important; 
    padding: 0px;
    background-image: none !important; // background: white !important;
    background: #f7f7f7 !important;
}
.segment-ios .segment-button{
      border-color: $segment-ios-button-clr-color4;

    color: $segment-ios-button-clr-color4;


    }
    .segment-ios .segment-button.segment-activated {
    color: white;
    background-color: $segment-ios-button-clr-color4;

}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: $segment-md-button-act-border-clr-color4;

}
.segment-wp .segment-button {

    color: $segment-wp-button-text-clr-color4;

}
.timekare-primary-btn{
      background-color: $button-save-bg-clr-color4;
}
.prifile-card{
  background-color: $toolbar-background-color4 !important;
}
.dashboard_col_item_name {
    color: $segment-ios-button-clr-color4;

}
.dashboard_user {

    color: $segment-ios-button-clr-color4;
}
.ion-item-lable{
  color: $toolbar-background-color4 !important;
}
     .card-h2-style{
         color: $toolbar-background-color4 !important;
     }
}