<!--
  Generated template for the ListofleaguePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>listofleague</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  
    <!-- activity{
      ActivityName
     }
    league_type
    league_category
    league_ageGroup
    league_logoURL
    league_description
    start_date
    end_date
    venueKey
    Venue{
    VenueName -->
  

<!----<ion-card>  
    <ion-row *ngIf="leaguesForParentClub.length>0">  
      <ion-col *ngFor="let league of leaguesForParentClub" col-12>
      </ion-col>
    </ion-row>
  </ion-card>-->

  <div *ngFor="let team of teamsForParentClub">  
    <div class="card" style="width:100%;margin-top:10px">  
    <h5>{{team.teamname}}</h5>
    </div>
  </div>
</ion-content>
