categoryNsubcategory-page{
    .scroll-content{
        background-image: none !important;
        background-color: #f7f7f7 !important;
    }

    .venuerow{
        padding: 5px;
        background: white;
        border-bottom: 1px solid rgba(128, 128, 128, 0.32);
        img{
            width: 30px;
            margin-top: 2px;
        }
        ion-col{
            color: rgba(0, 0, 0, 0.85);
        }
        .select-icon{
            display:none;
        }
        p{
           
            width: max-content;
            padding: 5px 5px 7px 5px;
             color: rgba(0, 0, 0, 0.85);
        }
        ion-select{
            padding: 5px 5px 7px 5px;
            max-width: 98%;
        }
    }
    .headingpara{
        margin: 5px 10px;
        color: rgba(0,0,0,0.4);
        font-size: 14px;
        span{
            //float: right;
            font-size: 18px;
            color: rgba(0,0,0,0.85);
        }
    }
    .textright{
        float: right;
    }
    .rowclass{
        background: white;
        border-radius: 2px;
        margin: 2px 5px;
        padding: 3px;
        color: rgba(0,0,0,0.85);
        .flexrow{
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
        }
        .row-head{
            font-size: 18px;
        }
        .row-head-cat{
            margin: 5px 10px;
            border-bottom: 1px solid rgba(128 ,128, 128, 0.2);

        }
    }

    .modal2 {
        p {
            color: #525050;
        }
        z-index: 999999 !important;
        display: block;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 80%;
        /* Full width */
        height: 30vh;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        //background-color: rgb(0,0,0); /* Fallback color */
        background-color:white;
        -webkit-animation-name: fadeIn;
        /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s;
        top: 20%;
        left: 10%;
        box-shadow: 0px 0px 16px 6px #dad6d6;
        border-radius: 55px;
        animation:animatezoom 1s;
        .exploretext {
            margin: 7px;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 35px;
            color: #000000;
        }
    }
    .modal-container {
        text-align: -webkit-center;
    }
    .nopadd {
        padding: 0px !important;
    }
    .close-btn {
        background-color: #f0535e;
        position: absolute;
        right: 22px;
        top: 19px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        z-index: 100 !important;
        ion-icon {
            color: white;
            font-size: 19px;
        }
    }
    .animate-zoom {
        animation: animatezoom 1s
    }
    .plus{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) !important;
        text-align: center;
        background: rgba(128, 128, 128, 0.11);
        margin: 6px 0;
        ion-icon{
            font-size: 20px;
            //padding: 2px;
            color: green;
        }
    }
    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    .mid-text {
        text-align: -webkit-center;
    }
}