@import '../../../theme/android-sdk35-fixes.scss';

page-appuiconfig {
    @include android-sdk35-fixes;

    .marginauto{
        margin-top: auto;
        margin-bottom: auto;
    }
    .venueList{
        color: rgba(0, 0, 0, 0.5294117647058824);
    }
    .selecteachvenue{
        background-color: #FFC107 !important;
        span{
            color:white;
        }
       
    }
    .cardpending {
        margin-bottom: 10px;
        border-radius: 12px;
        background: #ffffff;
        box-shadow: 0px 2px 8px -1px #b4b3b7;
        ion-card-content{
            height:120px;
            img{
                width:65px;
                height:65px;
            }
        }
        ion-icon{
            color: #7a7878 !important;
            font-size: 31px !important;
        }
    }
     .item-inner {
        border: none !important;
        box-shadow: none !important;
    }
}
