<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps" ></ion-icon>
    </button>
        <ion-title>
            Add School
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDashboardMenuPage()">
                 <img src="assets/images/home.svg" class="home_btn">
            </button>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
    <!--<ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="selectedType" (ionChange)="getParentClub()">
            <ion-option value="Type1">Type 1</ion-option>
            <ion-option value="Type2">Type 2</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Parent Club</ion-label>
        <ion-select [(ngModel)]="selectedParentClubKey" (ionChange)="getClubList()">
            <ion-option *ngFor="let parentClub of allParentClubDataArr" value={{parentClub.$key}}>{{parentClub.ParentClubName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card>
        <ion-card-content>
            <ion-item *ngFor="let club of  allClub">
                <ion-label>{{club.ClubName}}</ion-label>
                <ion-checkbox color="blue" checked="club.isSelect" [(ngModel)]="club.isSelect"></ion-checkbox>
            </ion-item>
        </ion-card-content>
    </ion-card>-->
    <app-search-bar placeholder="Search" (search)="getItems($event)"></app-search-bar>


    <ion-card *ngFor="let item of SetupDisplay" class="schoolcard">
        <ion-card-content style="padding: 4px 9px 4px !important;">
            <ion-item class="padding-left-item">
                <ion-label> {{item.SchoolName}} <p *ngIf="item.FirstLineAddress">{{item.FirstLineAddress}}<span *ngIf="item.SecondLineAddress">, {{item.SecondLineAddress}}</span></p></ion-label>
                <ion-checkbox color="blue" checked="item.isSelect" [(ngModel)]="item.isSelect" (ionChange)="toggolSelectionSchool(item)"></ion-checkbox>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer no-border [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
    <button class="cancel-btn" (click)="cancelSchoolAgainstParentKey()">Cancel</button>
    <app-glass-button label="Save" (btnClick)="saveSchoolAgainstParentKey()"></app-glass-button>
</ion-footer>