<ion-header *ngIf="themeType == 1">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>School List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-header>
  <ion-navbar *ngIf="themeType == 2">
    <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps"></ion-icon>
    </button>
    <ion-title>
      School List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToDashboardMenuPage()">
                 <img src="assets/images/home.svg" class="home_btn">
            </button>
      <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="cards-bg social-cards"  [ngStyle]="{'margin-top.px': this.platform=='ios' ? 30 : 0 }">

    <ion-list *ngFor="let item of schools" class="slider_list_margin">
      <ion-item-sliding *ngIf="item.IsActive == true">
        <ion-item>

          <h2 class="card-h2-style">{{item.SchoolName}}</h2>
          <p><span>{{item.FirstLineAddress}}, {{item.PostCode}}</span></p>
          <p><span>{{item.SchoolEmailID}}</span></p>
          <p><span>{{item.SchoolContactNumber}}</span></p>
        </ion-item>


        <ion-item-options side="right">
          <!--<button ion-button>
                        <ion-icon name="ion-create"></ion-icon>
                        Add
                    </button>-->
          <button ion-button color="secondary" >
                        <ion-icon name="ion-create"></ion-icon>
                        Edit
                    </button>
         
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf = "schools != undefined">
      <ion-card *ngIf = "schools.length == 0" class="nonmembercard">
        <ion-card-content style="text-align: center;color: #8d8989;">
            <p class="danger_color2 nonmemcard"> No School Added</p>
        </ion-card-content>
    </ion-card>
    </ion-list>
    
    

    
   

  
    <ion-fab mini right bottom #fab>
     
      <button ion-fab mini style="background-color:#2b92bb !important; color: white !important" style="background-color:#2b92bb !important; color: white !important"><ion-icon name="add"></ion-icon></button>

      <ion-fab-list side="top">
  
          <p class="fabEmailText" style="margin-left: -154px;" (click)="gotoAddSchool()">
          Find school</p>
          <button style="background-color: #2b92bb; color:white" ion-fab class="fabTop" (click)="gotoAddSchool()">
              <ion-icon name="ios-create-outline"></ion-icon>
          </button>
  
          <p class="fabEmailText" (click)="gotoaddnewschool()">Add school</p>
          <button style="background-color: #2b92bb; color:white" ion-fab class="fabTop"
              (click)="gotoaddnewschool()">
              <ion-icon name="ios-create-outline"></ion-icon>
          </button>
  
      </ion-fab-list>
  
  </ion-fab>


  <!-- <ion-fab right bottom>
    <button ion-fab mini style="background-color:#2b92bb !important; color: white !important" (click)="gotoAddSchool()" style="background-color:#2b92bb !important; color: white !important"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content> -->