@import '../../../theme/android-sdk35-fixes.scss';

school-page {
    @include android-sdk35-fixes;
.social-cards ion-col {
        padding: 0;
     }
     .btn-clr{
         color: $dashoboard-icon-color;
     }
     ion-card{
        margin:0px !important;
        width:100% !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #f6ae4d !important; .nonlocationcard  {
          padding: 14px 0;
      }
    }
    ion-card-content{
        padding: 0px !important;
    }
    .fabTop {
        margin-bottom: 3px;
    }
    .fabEmailText {
        margin-left: -172px;
        background-color: #2b92bb;
        margin-top: -34px;
        padding: 6px 12px 6px 12px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        /* margin-bottom: 2px; */
        -webkit-transform: translate(0px, -20px);
        transform: translate(0px, -4px);
    }
    .fabAttendanceText {
        margin-left: -115px;
        background-color: #2b92bb !important;
        margin-top: -47px;
        padding: 6px 12px 2px 11px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
    }
     .cross {
         background-color: white;
     }
     .search_add{
         background-color: transparent;
         padding-left: 6px;
     }
     .right{
         float: right;
     }
     ion-item{
        border-bottom: 0.55px solid #FF9800 !important;
     }
     .search_add{
         .item-inner{
             border-bottom: 0px !important;
            
             ion-icon{
                 margin-top: 18px;
             }
             div{
                 ion-label{
                     //margin-top: 0px;
                     margin-bottom: 0px;
                 }
             }
         }

     }
     .block_height {
        height: 77%;
    }
    .card-md p {
        margin: 0 0 0px;
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 1.4;
        color: #222;
    }
    .ion-item-lable{
        div{
            ion-icon{
                margin:0px 0px 9px 0px !important;
            }
            div{
                ion-label{
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }
    .slider_list_margin{
            margin: 10px 0 8px 0;
    }
    .scroll-content{
        background-image: none !important;
        background-color: #f4efef !important;
        margin-top: 9% !important;
        //padding: 6px !important;
       // background-image: url("../assets/images/background/innerbg.png");
        background-size: 100% 100%;
      // padding:6px;
      .slider_list_margin{
            //  padding: 0px 14px;
      }
    }
    .nonmemcard {
        padding: 14px 0;
    }

}
