@import "../_league-theme.scss";
@import '../../../../theme/android-sdk35-fixes.scss';

page-addteam {
  @include league-theme-base;
  @include android-sdk35-fixes;
  // .foobtn {
  //   background-color: #5be283;
  //   height: 3.6rem;
  //   font-size: 1.4rem;
  // }

  .scroll-content {
    padding: 8px !important;
    background-image: none !important;
    background-color: #f7f7f7;
  }

  // Compact Search Card (Dark Theme)
  .compact-search-card {
    background: #1e293b;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 8px;
    margin: 16px 8px 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .search-content {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .sleek-searchbar {
      flex: 1;
      padding: 0;
      margin: 0;
      min-height: 36px;
      background: transparent;
      border: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;

      .searchbar-input {
        color: #f1f5f9 !important;
        background: transparent !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        border: none !important;
        border-bottom: none !important;

        &::placeholder {
          color: #94a3b8 !important;
        }
      }

      .searchbar-search-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'><path fill='rgba(148, 163, 184, 0.8)' d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1 M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0 L5,0z'/><line stroke='rgba(148, 163, 184, 0.8)' stroke-miterlimit='10' x1='12.6' y1='12.6' x2='8.2' y2='8.2'/></svg>") !important;
      }

      .searchbar-clear-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgba(148, 163, 184, 0.8)' d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
      }
    }
  }

  // Checkbox styling with enhanced visibility
  ion-checkbox {
    --color: #2b92bb !important;
    --color-checked: #2b92bb !important;
    --checkmark-color: #ffffff !important;
    --border-color: #94a3b8 !important;
    --border-color-checked: #2b92bb !important;
    --background: transparent !important;
    --background-checked: #2b92bb !important;
    --size: 20px !important;
    --checkmark-width: 2px !important;
    
    .checkbox-icon {
      border-width: 2px !important;
      border-color: #94a3b8 !important;
    }
    
    .checkbox-checked {
      background-color: #2b92bb !important;
      border-color: #2b92bb !important;
      
      .checkbox-inner {
        border-color: #ffffff !important;
      }
    }
  }

  &.light-theme {
    ion-checkbox {
      --border-color: #64748b !important;
      
      .checkbox-icon {
        border-color: #64748b !important;
      }
    }
  }

  // Light Theme for Search Card
  &.light-theme {
    .compact-search-card {
      background: #ffffff;
      border: 1px solid #e2e8f0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      .sleek-searchbar {
        .searchbar-input {
          color: #1e293b !important;

          &::placeholder {
            color: #64748b !important;
          }
        }

        .searchbar-search-icon {
          background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'><path fill='rgba(100, 116, 139, 0.8)' d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1 M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0 L5,0z'/><line stroke='rgba(100, 116, 139, 0.8)' stroke-miterlimit='10' x1='12.6' y1='12.6' x2='8.2' y2='8.2'/></svg>") !important;
        }

        .searchbar-clear-icon {
          background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgba(100, 116, 139, 0.8)' d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
        }
      }
    }
  }

  .btn-clr {
    color: $dashoboard-icon-color;
  }

  .button {
    font-size: 2rem;
  }

  .align {
    margin-top: 5px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .label {
    margin: 0px !important;
  }

  .session_header,
  ion-list {
    margin-bottom: 0px !important;
    // border-bottom: 1px solid #f6ae4d;
  }

  .block_height {
    height: 80%;
  }

  .block_height1 {
    margin-top: 5px;
    height: 90%;

    .margin {
      padding: 0px 11px 0px 11px;
    }
  }

  .block_height2 {
    height: 32%;
  }

  .ion_list1 {
    margin-top: 10px;
  }

  .p_selected {
    ion-card-content {
      border-bottom: 1px solid #d1d1d5;
      padding: 5px 0px 5px 13px;
      color: rgba(0, 0, 0, 0.89);
      font-size: 17px;
    }
  }

  .ion-item-lable {
    div {
      ion-icon {
        margin: 0px 0px 9px 0px !important;
      }

      div {
        ion-label {
          margin: 0px 0px 0px 0px;
        }
      }
    }
  }
}