page-userchallenges {
    .scroll-content {
        padding: 5px !important;
        background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1, #efefef) !important;
        //margin-top:60px !important;
    }
    .item-inner {
        border-bottom: 1px solid #faae4e !important;
    }
    .group-slides {
        margin: 0 5px;
        height: 7.5em;
    }
    .name {
        color: #5ea68d !important;
        margin-bottom: -2px !important;
    }
    ion-slides{
        ion-slide{
            .slide-zoom{
               // margin-right: 74px;
            }
        }
    }
    .active{
        transform: scale(1.05) !important;
        border: 1px solid orange !important;
    }
    //..............
    .sub-container {
        border: 1px solid #34343442;
        border-radius: 5px;
        margin:5px 15px;
        
        ion-icon {
            width: 90%;
            background: transparent !important;
            border-radius: 5px;
            //color: white;
            color: rgba(250, 169, 40, 0.827451)
            //box-shadow: -2px 4px 28px rgba(250, 170, 40, 0.45);
        }

        .search-bar{
            padding: 0px 5px;
        }
        .searchbar {
            border: none !important;
            background: #ffffff !important;
            padding: 2px !important;
        }

        .searchbar-input {
            //padding-left: 4px !important;
            padding: 1px 4px !important;
            box-shadow: none !important;
            -webkit-box-shadow:none !important;
        }

        .searchbar-search-icon {
            display: none !important;
        }

        ion-icon {
            font-size: 26px;
            padding-left: 5px;
        }
    }
    .facilityCard{
        .age{
            color:#5a809e;
        }
        border-radius: 0px !important;
        box-shadow: 0 1px 7px rgba(10, 10, 10, 0.15);
        margin: 6px 12px;
        padding: 5px 5px 5px 5px;
        border-radius: 2px;
        border-left:2px solid #35ADFF;
        //border-bottom: 2px solid #faae4e !important;
        p{
            line-height: 1.2 !important;
        }
        .p1 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom:3px;
         }
         .challenge_len{
            font-size: 11px;
            font-weight: 400;
            margin-bottom:3px;
         }
         
        ion-card-content{
            //height: 18vh;
            padding: 0px 5px !important;
        }
        
        .mar0 {
            margin: 0 !important;
        }
        .points{
            font-weight: bold;
            font-size: 16px;
            color: #fab754 !important;
        }
        .pts_col{
            margin:auto;
            text-align:center;
        }
          
    }
    .paidmembercount {
        color: rgba(36, 16, 16, 0.85);
        //font-weight: bold;
        font-size: 16px;
        //margin-top: 2px;
    }
    .fabTop {
        margin-bottom: 13px;
    }
    .fabEmailText {
        margin-left: -122px;
        background-color: #f0f0f3;
        padding: 8px 12px 8px 11px;
        margin-bottom: -44px;
        color: #202021;
        border-radius: 3px;
        margin-right: 55px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
    ion-fab {
        bottom: 55px !important;
    }
    .forward_icon{
        color: #7a7878 !important;
        font-size:20px;
    }
}
