@import '../../../theme/android-sdk35-fixes.scss';

createholidaydiscounts-page {
    @include android-sdk35-fixes;
    .scroll-content {
        padding: 0px 7px 7px 7px;
        //  margin-top: 41px !important;
    }
    // .list-header-md {
    //     margin-bottom: 0px !important;
    // }
    // ion-list {
    //     margin-top: 24px !important;
    // }
    .list1 {
        margin-bottom: 0px !important;
        margin-top: 1em !important;
    }
    .list2 {
        margin-bottom: 0px !important;
        margin-top: 1.7em !important;
    }
    .list_header {
        margin-bottom: 0px !important;
        border-bottom: 1px solid gray;
        background-color: #41668c;
        color: white;
        font-size: 15px;
        font-weight: 400;
    }
}
