@import '../../../theme/android-sdk35-fixes.scss';

updateholidaycamp-page {
    @include android-sdk35-fixes;
    .scroll-content {
        // background-image: url("../assets/images/background/innerbg.png");
        background-size: 100% 100%;
        padding: 6px;
    }
    .help_btn {
        padding: 0px !important;
        font-size: 24px !important;
        margin: 0px !important;
        height: 42px !important;
        width: 42px;
    }
    .custom_ionitem {
        div {
            padding-right: 0px !important;
        }
    }
    .custom_ionlist {
        margin-bottom: 5px !important;
    }
    .session_margintop {
        margin-top: 3px;
    }
    .session_margintop1 {
        margin-top: 25px;
    }
    .left_margin {
        padding-left: 5px;
        ion-checkbox {
            margin: 9px 14px 9px 4px !important;
        }
        ion-label {
            white-space: pre-wrap !important;
        }
    }
    .margin_top_session_fab {
        margin-top: -29px;
        right: -6px;
    }
    .margin_bottom_session_fab {
        margin-top: -15px;
        right: -8px;
    }
    .list_margin_top {
        margin-top: 45px !important;
    }
}
