<ion-header *ngIf="themeType == 1">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Edit Group Session</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-header>
    <ion-navbar *ngIf="themeType == 2">
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps"></ion-icon>
    </button>
        <ion-title>
            Edit Group Session
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="cards-bg social-cards" padding>

    <ion-item>
        <ion-label>Venue</ion-label>
        <ion-select [(ngModel)]="selectedClub" (click)="onChangeOfClub()" disabled="true">
            <ion-option *ngFor="let club of clubs" value={{club.$key}}>{{club.ClubName}}</ion-option>
        </ion-select>
    </ion-item>
    <!--Do uncomment-->
    <ion-item>
        <ion-label>Term</ion-label>
        <ion-select [(ngModel)]="selectedTerm" (ionChange)="onChangeOfTerm()" disabled="true">
            <ion-option *ngFor="let term of terms" value={{term.$key}}>{{term.TermName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Activity</ion-label>
        <ion-select [(ngModel)]="selectedActivityType" (ionChange)="onChangeActivity()" disabled="true">
            <ion-option *ngFor="let type of types" value={{type.$key}}>{{type.ActivityName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Coach</ion-label>
        <ion-select [(ngModel)]="selectedCoach" (ionChange)="onChangeCoach()" disabled="true">
            <ion-option *ngFor="let coach of coachs" value={{coach.CoachKey}}>{{coach.FirstName}} {{coach.MiddleName}} {{coach.LastName}}</ion-option>
        </ion-select>
    </ion-item>
    <div class="margin_top">
    </div>

    <ion-item *ngIf="isExistActivityCategory">
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="selectActivityCategory" (ionChange)="onChangeActivityCategory()" disabled="true">
            <ion-option *ngFor="let ac of activityCategoryList" value={{ac.Key}}>{{ac.ActivityCategoryName}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="isExistActivitySubCategory">
        <ion-label>Sub Category</ion-label>
        <ion-select [(ngModel)]="selectActivitySubCategory" disabled="true">
            <ion-option *ngFor="let acs of activitySubCategoryList" value={{acs.Key}}>{{acs.ActivitySubCategoryName}}</ion-option>
        </ion-select>
    </ion-item>



    <ion-card class="card">
        <ion-card-header class="card_header">
            Days
        </ion-card-header>
        <ion-card-content>

            <ion-row class="days">
                <ion-col>
                    <p class="rounded" (click)="selectDays('Mon',1)" [ngClass]="{'timekare-primary-btn': isSelectMon,'text_white': isSelectMon,'un_selected': !isSelectMon}">M</p>
                </ion-col>
                <ion-col>
                    <p class="rounded" (click)="selectDays('Tue',2)" [ngClass]="{'timekare-primary-btn': isSelectTue,'text_white': isSelectTue,'un_selected': !isSelectTue}">T</p>
                </ion-col>
                <ion-col>
                    <p class="rounded" (click)="selectDays('Wed',3)" [ngClass]="{'timekare-primary-btn': isSelectWed,'text_white': isSelectWed,'un_selected': !isSelectWed}">W</p>
                </ion-col>
                <ion-col>
                    <p class="rounded" (click)="selectDays('Thu',4)" [ngClass]="{'timekare-primary-btn': isSelectThu,'text_white': isSelectThu,'un_selected': !isSelectThu}">T</p>
                </ion-col>
                <ion-col>
                    <p class="rounded" (click)="selectDays('Fri',5)" [ngClass]="{'timekare-primary-btn': isSelectFri,'text_white': isSelectFri,'un_selected': !isSelectFri}">F</p>
                </ion-col>
                <ion-col>
                    <p class="rounded" (click)="selectDays('Sat',6)" [ngClass]="{'timekare-primary-btn': isSelectSat,'text_white': isSelectSat,'un_selected': !isSelectSat}">S</p>
                </ion-col>
                <ion-col>
                    <p class="rounded" (click)="selectDays('Sun',7)" [ngClass]="{'timekare-primary-btn': isSelectSun,'text_white': isSelectSun,'un_selected': !isSelectSun}">S</p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>



    <ion-item>
        <ion-label floating>Session Name</ion-label>
        <ion-input type="text" [(ngModel)]="sessionDetails.SessionName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YY" pickerFormat="DD MM YYYY" [(ngModel)]="sessionDetails.StartDate"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YY" pickerFormat="DD MM YYYY" [(ngModel)]="sessionDetails.EndDate"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Pay By Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YY" pickerFormat="DD MM YYYY" [(ngModel)]="sessionDetails.PayByDate"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" [(ngModel)]="sessionDetails.StartTime"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label floating>Duration</ion-label>
        <ion-input type="number" [(ngModel)]="sessionDetails.Duration" max="60" min="1"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Group Size</ion-label>
        <ion-input type="number" [(ngModel)]="sessionDetails.GroupSize" min="1"></ion-input>
    </ion-item>


    <ion-item>
        <ion-label floating>Fees</ion-label>
        <ion-input type="number" [(ngModel)]="sessionDetails.SessionFee" min="1" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item class="comments">
        <ion-label floating>Comments</ion-label>
        <ion-textarea type="text" [(ngModel)]="sessionDetails.Comments"></ion-textarea>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button block style="background-color:#2b92bb !important; color: white !important" (click)="cancelSessionCreation()">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block class="timekare-primary-btn" (click)="createSession()">Create</button>
            </ion-col>

        </ion-row>
    </ion-grid>


</ion-content>