page-gallery {
    .scroll-content {
        padding: 5px !important;
        background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1, #efefef) !important;
        //margin-top:60px !important;
    }
    // .item-inner {
    //     border-bottom: 1px solid #faae4e !important;
    // }
    
    ion-select{
        //width:100% !important;
        max-width: 100%;
        .select-icon {
            position: relative !important;
            width: 25px !important;
            height: 25px !important;
            background: #faae4e !important;
            border-radius: 50% !important;
            color: white !important;
            left: 3px !important;
            .select-icon-inner {
                left: 8px !important;
                top: 50%;
                margin-top: -2px;
                position: absolute;
                width: 0;
                height: 0;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                color: #fff !important;
                pointer-events: none;
            }
        }
        .select-text{
            padding-top: 2px !important;
            color: #faae4e !important;
            //text-align: center;
            padding-right: 5px;
        }
    }
    .font-500{
        font-weight: 500;
    }

    .sub-container {
        border: 1px solid #34343442;
        border-radius: 5px;
        margin:5px 15px;
        
        ion-icon {
            width: 90%;
            background: transparent !important;
            border-radius: 5px;
            //color: white;
            color: rgba(250, 169, 40, 0.827451)
            //box-shadow: -2px 4px 28px rgba(250, 170, 40, 0.45);
        }

        .search-bar{
            padding: 0px 5px;
        }
        .searchbar {
            border: none !important;
            background: #ffffff !important;
            // border-radius: 5px !important;
            // height: 86% !important;
            // margin-top: 4px !important;
            padding: 2px !important;
        }

        .searchbar-input {
            //padding-left: 4px !important;
            padding: 1px 4px !important;
            box-shadow: none !important;
            -webkit-box-shadow:none !important;
        }

        .searchbar-search-icon {
            display: none !important;
        }

        ion-icon {
            font-size: 26px;
            padding-left: 5px;
        }
    }

    .facilityCard{
        .age{
            color:#5a809e;
        }
        border-radius: 0px !important;
        box-shadow: 0 1px 7px rgba(10, 10, 10, 0.15);
        margin: 6px 12px;
        padding: 5px 5px 5px 5px;
        border-radius: 2px;
        border-left:2px solid #35ADFF;
        //border-bottom: 2px solid #faae4e !important;
        p{
            line-height: 1.2 !important;
        }
        .p1 {
            overflow: hidden;
            white-space: pre-wrap;
            font-size: 16px;
            font-weight: 500;
            margin-bottom:3px;
         }
         .challenge_len{
            font-size: 11px;
            font-weight: 400;
            margin-bottom:3px;
         }
         
        ion-card-content{
            //height: 18vh;
            padding: 0px 5px !important;
        }
        
        .mar0 {
            margin: 0 !important;
        }
        .points{
            font-weight: bold;
            font-size: 16px;
            color: #fab754 !important;
        }
        .pts_col{
            margin:auto;
            text-align:center;
        }
          
    }
    .paidmembercount {
        color: rgba(36, 16, 16, 0.85);
        //font-weight: bold;
        font-size: 16px;
        //margin-top: 2px;
    }
    ion-fab button{
        background-color: #2b92bb !important;
        color: white !important;
    }

    .not_found{
        position:absolute;
        top:20%;
        left:0;
        width: 100%;
        height:100%;
        text-align: center;
        margin: auto;
    }
    

}
