<ion-header>
  <ion-navbar>
    <ion-title>{{LangObj.memPro_Profile}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="mp-content">
  <div class="mp-hero" *ngIf="this.memberInfo">
    <ion-icon name="md-create" (click)="goToEditPage()" class="mp-icon-btn"></ion-icon>

    <div class="mp-hero-main">
      <div class="mp-avatar">{{memberInfo.parent_firstname?.charAt(0)}}{{memberInfo.parent_lastname?.charAt(0)}}</div>
      <div class="mp-identity">
        <div class="mp-name">
          {{memberInfo.parent_firstname}} {{memberInfo.parent_lastname}}
          <span class="mp-age">({{this.commonService.calculateAgeFromDOB(memberInfo.DOB)}} Yrs)</span>
        </div>
        <div class="mp-membership" *ngIf="memberInfo.MembershipName">{{memberInfo.MembershipName}}</div>
        <div class="mp-meta">
          <span *ngIf="memberInfo.email">{{memberInfo.email}}</span>
          <span *ngIf="memberInfo.phone_number">{{memberInfo.phone_number}}</span>
        </div>
      </div>
    </div>

    <div class="mp-actions">
      <div class="mp-action">
        <button type="button" class="mp-action-button" (click)="callToMember()">
          <ion-icon name="ios-call"></ion-icon>
        </button>
        <span>Call</span>
      </div>
      <div class="mp-action">
        <button type="button" class="mp-action-button" (click)="sentAnEmailToMember()">
          <ion-icon name="ios-mail"></ion-icon>
        </button>
        <span>Email</span>
      </div>
      <div class="mp-action">
        <button type="button" class="mp-action-button" (click)="notifyToMember()">
          <ion-icon name="md-chatbubbles"></ion-icon>
        </button>
        <span>Notify</span>
      </div>
    </div>
  </div>

  <div class="mp-records">
    <app-section-header title="Member Records"></app-section-header>

    <app-list-card [accentColor]="'#38bdf8'" (cardClick)="goToShowFamily()">
      <div class="mp-row">
        <div class="mp-icon-tile mp-icon-tile-family">
          <ion-icon name="ios-people"></ion-icon>
        </div>
        <div class="mp-row-label">{{LangObj.memPro_familymem}}</div>
        <app-status-badge variant="info" [label]="family_members.length"></app-status-badge>
        <ion-icon name="ios-arrow-forward" class="mp-chevron"></ion-icon>
      </div>
      <div class="family-strip">
        <ion-slides *ngIf="this.family_members.length > 0" class="group-slides" [slidesPerView]="2">
          <ion-slide *ngFor="let family of family_members;let i = index">
            <ion-card class="facilityCard">
              <ion-card-content [class.member_name]="family.MembershipName == undefined">
                <p class="facilities-text">{{family.FirstName}}</p>
                <p style="color:seagreen; font-size: 11px; padding: 2px;" *ngIf="family.MembershipName!= undefined">{{family.MembershipName}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </app-list-card>

    <app-list-card [accentColor]="'#2fbac1'" (cardClick)="goToMemberProfilePage()">
      <div class="mp-row">
        <div class="mp-icon-tile mp-icon-tile-file">
          <ion-icon name="md-albums"></ion-icon>
        </div>
        <div class="mp-row-label">{{LangObj.memPro_actFile}}</div>
        <app-status-badge variant="info" [label]="LangObj.memPro_pastbooking"></app-status-badge>
        <ion-icon name="ios-arrow-forward" class="mp-chevron"></ion-icon>
      </div>
    </app-list-card>

    <div class="mp-inert">
      <app-list-card [accentColor]="'#64748b'">
        <div class="mp-row">
          <div class="mp-icon-tile mp-icon-tile-notes">
            <ion-icon name="ios-create"></ion-icon>
          </div>
          <div class="mp-row-label">{{LangObj.memPro_notes}}</div>
          <app-status-badge variant="warning" [label]="LangObj.memPro_comingsoon"></app-status-badge>
        </div>
      </app-list-card>
    </div>

    <app-list-card [accentColor]="'#a78bfa'" (cardClick)="goToshowMembershipPage()">
      <div class="mp-row">
        <div class="mp-icon-tile mp-icon-tile-membership">
          <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
        </div>
        <div class="mp-row-label">{{LangObj.memPro_membership}}</div>
        <app-status-badge variant="info" [label]="LangObj.memPro_selpackages"></app-status-badge>
        <ion-icon name="ios-arrow-forward" class="mp-chevron"></ion-icon>
      </div>
    </app-list-card>

    <app-list-card [accentColor]="'#f59e0b'" (cardClick)="goToshowMemberChallenges()">
      <div class="mp-row">
        <div class="mp-icon-tile mp-icon-tile-performance">
          <img src="assets/imgs/performance.svg" class="mp-row-image">
        </div>
        <div class="mp-row-label">{{LangObj.memPro_perforamnce}}</div>
        <app-status-badge variant="info" label="Manage Challenges"></app-status-badge>
        <ion-icon name="ios-arrow-forward" class="mp-chevron"></ion-icon>
      </div>
    </app-list-card>

    <app-list-card [accentColor]="'#10b981'" (cardClick)="gotowallet()">
      <div class="mp-row">
        <div class="mp-icon-tile mp-icon-tile-wallet">
          <img src="assets/imgs/wallet.svg" class="mp-row-image">
        </div>
        <div class="mp-row-label">Wallet</div>
        <app-status-badge variant="success" label="Manage Wallet"></app-status-badge>
        <ion-icon name="ios-arrow-forward" class="mp-chevron"></ion-icon>
      </div>
    </app-list-card>
  </div>

  <app-section-header title="Account Settings"></app-section-header>
  <div class="mp-settings-card">
    <div class="mp-setting-row" *ngIf="this.memberInfo">
      <div class="mp-setting-label">
        <p *ngIf="type == 'Member'">{{LangObj.memPro_member}}</p>
        <p *ngIf="type != 'Member'">{{LangObj.memPro_becmember}}</p>
      </div>
      <label class="toggle" *ngIf="type == 'Member'">
        <input type="checkbox" [(ngModel)]="memberInfo.is_enable" (change)="saveEnableStatetoDB()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
      <img src="assets/imgs/becomemember.svg" class="mp-become-icon" *ngIf="type != 'Member'" (click)="becomeMember()">
    </div>
    <div class="mp-setting-row">
      <p class="mp-setting-label">Allow photo/video/social media</p>
      <label class="toggle">
        <input type="checkbox" [(ngModel)]="memberInfo.media_consent" (change)="allowMediaConsent()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
    </div>
  </div>

  <app-section-header title="Facility Booking"></app-section-header>
  <div class="mp-settings-card">
    <div class="mp-setting-row">
      <ion-label class="mp-setting-label">Court Booking</ion-label>
      <label class="toggle">
        <input type="checkbox" [(ngModel)]="memberInfo.allow_court_booking" (change)="saveCourtBookingtoDB()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
    </div>
    <div class="mp-setting-row">
      <ion-label class="mp-setting-label">Coach</ion-label>
      <label class="toggle">
        <input type="checkbox" [(ngModel)]="memberInfo.is_coach" (change)="saveCoachStatus()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
    </div>
    <div class="mp-setting-row">
      <ion-label class="mp-setting-label">Gold Member</ion-label>
      <label class="toggle">
        <input type="checkbox" [(ngModel)]="memberInfo.is_gold_member" (change)="saveGoldMemberStatus()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
    </div>
    <div class="mp-setting-row">
      <ion-label class="mp-setting-label">Promotional Emails</ion-label>
      <label class="toggle">
        <input type="checkbox" [(ngModel)]="memberInfo.promo_email_allowed" (change)="savePromoEmailStatus()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
    </div>
  </div>

  <app-section-header title="Danger Zone"></app-section-header>
  <div class="mp-settings-card mp-settings-danger" *ngIf="this.memberInfo">
    <div class="mp-setting-row">
      <ion-label class="mp-setting-label" (click)="changeActiveState()">{{LangObj.memPro_active}}</ion-label>
      <label class="toggle toggle-danger">
        <input type="checkbox" [(ngModel)]="memberInfo.parent_status" (change)="saveActiveStatetoDB()">
        <span data-unchecked="No" data-checked="Yes"></span>
      </label>
    </div>
  </div>

  <div id="customModal8" class="modal" (click)="closeModal()">
    <div class="modal-content">
      <ion-item>
        <ion-select [(ngModel)]="selectedClub" placeholder="Select Club">
          <ion-option *ngFor="let club of clubs" value={{club.$key}}>{{club.ClubName}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="comments">
        <ion-label floating>{{LangObj.memPro_comments}}({{LangObj.memPro_optional}})</ion-label>
        <ion-textarea type="text"></ion-textarea>
      </ion-item>
      <ion-grid class="mp-modal-actions">
        <ion-row>
          <ion-col col-6>
            <button ion-button block class="mp-modal-cancel" (click)="cancelModal()">{{LangObj.memPro_cancel}}</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block class="timekare-primary-btn" (click)="migrateMember()">{{LangObj.memPro_save}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
