continueaddmember-page{
    .scroll-content{
        background-image: url("../assets/images/background/innerbg.png");
        background-size: 100% 100%;
    }
    .condition{
        margin-left: 6px;
        margin-top: 4px;
        font-size: 16px;
        color: black;
    }
    // .condition_block{
    //     margin-top: 19px;
    // }
    // .member_slider{
    //     height: 127px !important;
    //     .swiper-container {
    //         height: 72%;
            
    //         .swiper-wrapper {
    //             height: 59%;
    //         }
    //     }
    // }
    .underline{
        border-bottom: 1px solid gray;
    }
    .swiper-container-horizontal > .swiper-pagination {
        bottom: -3px;
    }
    // .slider_block_height{
    //     height: 200px;
    // }
}