<ion-header>
  <ion-navbar>
    <ion-title>{{Title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-leagueteamlisting *ngIf="selectedFooterIndex == 4" #leagueTeamListingRef></page-leagueteamlisting>
  <page-match *ngIf="selectedFooterIndex == 1"></page-match>
  <page-matchladder *ngIf="selectedFooterIndex == 2"></page-matchladder>
  <page-matchhistory *ngIf="selectedFooterIndex == 3"></page-matchhistory>

  <button class="glass-fab" *ngIf="selectedFooterIndex == 4 || selectedFooterIndex == 1" (click)="onFabClick()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>

<ion-footer>
  <div class="footer_div">
    <ion-row>
      <ion-col *ngFor="let tab of tabs"
        [class.selected]="selectedFooterIndex == tab.index"
        (click)="selectedTab(tab)">
        <ion-icon [name]="tab.icon"></ion-icon>
        <p>{{tab.label}}</p>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
