<ion-header>
    <ion-navbar>
        <ion-title>Notification</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="sendNotification()">
                <ion-icon name="ios-send-outline" class="ico"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="page-fixed-header">
        <div class="section-header">
            <span class="section-title">Compose Notification</span>
        </div>
    </div>

    <div class="page-list-area">
        <ion-row class="filter_row">
            <ion-col col-7>
                <app-select-field [isDark]="isDarkTheme">
                    <ion-item>
                        <ion-select [(ngModel)]="selectedClub" (ionChange)="onChangeOfClub()">
                            <ion-option *ngFor="let club of clubs" [value]="club.Id">{{club.ClubName}}</ion-option>
                        </ion-select>
                    </ion-item>
                </app-select-field>
            </ion-col>
            <ion-col col-5>
                <app-select-field [isDark]="isDarkTheme">
                    <ion-item>
                        <ion-select [(ngModel)]="selectedEmailCategory" (ionChange)="onChangeEmailFilter()">
                            <ion-option *ngFor="let type of EmailFilterCategory" [value]="type.CategoryVal">
                                {{type.CategoryText}}</ion-option>
                        </ion-select>
                    </ion-item>
                </app-select-field>
            </ion-col>
        </ion-row>

        <app-form-field [isDark]="isDarkTheme">
            <ion-item>
                <ion-textarea rows="10" [(ngModel)]="notification_input.message"
                    placeholder="Type a message here..."></ion-textarea>
            </ion-item>
        </app-form-field>
    </div>
</ion-content>

<ion-footer no-border>
    <app-glass-button [label]="'Notify (' + numberOfPeopleToSend + ')'" (btnClick)="sendNotification()"></app-glass-button>
</ion-footer>
