<ion-header>
  <ion-navbar>
    <ion-title>Edit Match</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <ion-list>
    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Match Title</ion-label>
        <ion-input type="text" [(ngModel)]="data.MatchTitle"></ion-input>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" min="{{min}}" max="{{max}}" [(ngModel)]="start_date"></ion-datetime>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" minuteValues="0,10,20,30,40,50,60"
          [(ngModel)]="start_time"></ion-datetime>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Duration <span class="optional-tag">(Optional)</span></ion-label>
        <ion-select [(ngModel)]="selectedDuration" placeholder="Select duration">
          <ion-option *ngFor="let d of durations" [value]="d.id">{{d.duration}} mins</ion-option>
        </ion-select>
      </ion-item>
    </app-form-field>

    <app-map-picker [address]="mapLocationAddress" (locationSelected)="onMapLocationSelected($event)"></app-map-picker>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Round/Stage <span class="optional-tag">(Optional)</span></ion-label>
        <ion-select [(ngModel)]="data.Round">
          <ion-option *ngFor="let r of roundTypes" [value]="r.id">{{r.name}}</ion-option>
        </ion-select>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item>
        <ion-label>Match Type</ion-label>
        <ion-select [(ngModel)]="data.MatchType">
          <ion-option *ngFor="let t of leagueType" [value]="t.value">{{t.key}}</ion-option>
        </ion-select>
      </ion-item>
    </app-form-field>

    <app-form-field [isDark]="isDarkTheme">
      <app-access-toggle [(isPublic)]="publicType"
        (isPublicChange)="changeType($event ? 'public' : 'private')" label="Status">
      </app-access-toggle>
    </app-form-field>

    <app-expandable-section label="FEE" [(expanded)]="isChecked" (expandedChange)="updateMatchPaymentType($event)">
      <ion-item>
        <ion-label fixed>Member Fee
          <span *ngIf="currency">({{currency}})</span>
        </ion-label>
        <ion-input type="number" placeholder="Enter fee" [(ngModel)]="data.MemberFees"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Non Member Fee
          <span *ngIf="currency">({{currency}})</span>
        </ion-label>
        <ion-input type="number" placeholder="Enter fee" [(ngModel)]="data.NonMemberFees"></ion-input>
      </ion-item>
    </app-expandable-section>

    <app-form-field [isDark]="isDarkTheme">
      <ion-item class="description-item">
        <ion-label stacked>Description <span class="optional-tag">(Optional)</span></ion-label>
        <ion-textarea type="text" rows="5" placeholder="Match instructions, rules, or notes..."
          [(ngModel)]="data.Details"></ion-textarea>
      </ion-item>
    </app-form-field>
  </ion-list>

  <app-glass-button label="Update" (btnClick)="updateMatchConfirm()"></app-glass-button>
</ion-content>
