@import '../../../../theme/android-sdk35-fixes.scss';

page-assignfocus {
    @include android-sdk35-fixes;



    .scroll-content {
        padding: 0px !important;
        background: linear-gradient(to bottom left,
                #f7f7f7,
                #f1f1f1,
                #efefef) !important;
        //margin-top:60px !important;
    }

    .item-inner {
        border-bottom: 1px solid #faae4e !important;
    }

    .board_row {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #35adff;
        margin: 2px 2%;
        width: 96%;

        ion-icon {
            background: #e0e0e0;
            display: inline-block;
            font-size: 2.2em;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }
    }

    .mar_auto {
        margin: auto;
    }

    .flex {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        // color: #fff;
        // font-size: 15px;
        img {
            width: 30px;
            height: 30px;
        }
    }

    .active {
        p {
            color: #3a92b5 !important;
            font-weight: 500;
        }

        border-bottom: 1px solid #faae4e !important;

        // box-shadow: 0 8px 10px -10px black;
    }

    .nopad {
        padding: 0px !important;
    }

    //slides css
    .selected {

        transform: scale(1.1);
        border-bottom: 2px solid #499bbd !important;
        transition: 80ms;

        //background-color: #faae4e !important;
        p {
            font-size: 16px !important;
            font-weight: bold;
            color: #499bbd !important;
            overflow: visible;
            text-overflow: clip;
        }
    }

    .group-slides .selected {
        //background-color: rgba(250, 174, 78, 0.43137254901960786) !important;
        // --width: 100%;
    }

    .swiper-slide {
        // width: 100.667px !important;
    }

    .group-slides .select {
        //background-color: rgba(250, 174, 78, 0.43137254901960786) !important;
        border-bottom: 1px solid #faae4e !important; // border-right: 3px solid #faae4e !important;
        transition: 80ms;
    }

    .ageCard {
        margin: 0px !important;
        font-weight: 400;
        //background:#f7f7f7;
        background: transparent !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0);
        border-radius: 0px !important;
        box-shadow: none !important;

        ion-card-content {
            padding: 0px !important;
            padding-top: 10px !important;
        }
    }

    .slides_col {
        //background: #faae4e;
        z-index: 999;
        -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0 3px rgba(0, 0, 0, 0.2), 0px 0 3px rgba(0, 0, 0, 0.2);
        padding: 10px 10px;
        border-top: 1.5px solid #fff;
        border-bottom: 1.5px solid #fff;
    }

    ion-fab {

        //bottom: 40px !important;
        .fab {
            background-color: #2b92bb;
        }
    }

    .facilityCard {
        border-radius: 0px !important;
        box-shadow: 0 1px 7px rgba(10, 10, 10, 0.15);
        margin: 6px 12px;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;

        // border-left: 2px solid #35adff;
        //height: 20vh;
        //border-bottom: 1px solid #fab754;
        p {
            line-height: 1.2 !important;
        }

        ion-card-content {
            //height: 18vh;
            padding: 0px 5px !important;
        }

        .margin-auto {
            margin: auto;
        }

        .circle {
            margin-top: -3px;
            width: 50px;
            float: right;
            height: 50px;
            border: 4px solid #e4e4e4;
            border-radius: 50%;
            padding: 12px 4px;
            text-align: center;
            // color: #000000;
        }

        .event_date {
            color: #343434db;
            font-size: 15px;
            font-weight: 500;
        }

        .mar0 {
            margin: 0 !important;
        }

        .eventname {
            color: rgba(0, 0, 0, 0.85);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        .event_more {
            margin: 8px 0px 0px 0px;
            color: #373737;
            font-weight: 700;
            font-size: 15px;
            text-transform: capitalize;
            width: 150px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            //display: flex;
            padding: 5px 0px 4px 10px;
            border: 0.5px solid rgba(128, 128, 128, 0.43);
        }

        .event_more img {
            width: 17px;
            height: 17px;
            margin: 0px 5px 0px 0px;
        }

        ion-list {
            margin: 0;
            padding: 0;
            display: block;
            list-style-type: none;
        }
    }

    .nopad {
        padding: 0px;
    }

    //   .venuedropdown {
    //     padding: 0px 3px 3px 0px;
    //     max-width: 100% !important;
    //     text-align: RIGHT;
    //     width: 100%;
    //   }
    //   .venueionitem {
    //     padding-left: 4px;
    //   }
    .select-text {
        padding-top: 2px !important;
        color: #faae4e !important;
        text-align: center;
        padding-right: 5px;
    }

    .select-icon .select-icon-inner {
        left: 7px !important;
        top: 49%;
        color: white !important;
    }

    .select-icon {
        position: relative !important;
        width: 25px !important;
        height: 25px !important;
        background: #faae4e !important;
        border-radius: 50% !important;
        color: white !important;
        left: 3px !important;
    }

    .label-card {
        justify-content: center !important;
        display: flex;
    }

    .edit-icon {
        padding-left: 10px;
        font-size: 15px;
    }

    ///
    flex_col {
        // border-bottom: 1px solid #f1c98d !important;
        // background: white;
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-between;

        p {
            line-height: 30px;
        }
    }

    .para {
        color: #75716c;
        margin-top: 2px !important;
        padding-right: 1px;
        //margin-left: 10px;
        font-size: 20px;
    }

    .toggle {
        overflow: hidden;
        display: inline-block;
        width: 4em;
        //background: #2f2a2a;
        background-color: #ebf7fc;
        //padding: 0.135em;
        cursor: pointer;
        font-size: 16px;
        margin-left: 8px;
        border-radius: 50px;
        height: 30px;
    }

    .toggle input {
        position: absolute;
        visibility: hidden;
    }

    .toggle span {
        position: relative;
        left: 0%;
        display: block;
        text-align: center;
        -webkit-transition: left 200ms ease-out;
        -moz-transition: left 200ms ease-out;
        -o-transition: left 200ms ease-out;
        transition: left 200ms ease-out;
    }

    .toggle :checked+span {
        left: 50%;
    }

    /* Default unchecked state */
    .toggle span:before {
        content: attr(data-unchecked);
        display: block;
        width: 50%;
        background-color: #f44336;
        border-radius: 50px;
        box-shadow: 0 10px 20px -8px #c5d6d6;
        //box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.3);
        color: white;
        border-radius: 25px;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
    }

    /* Checked state */
    .toggle :checked+span:before {
        content: attr(data-checked);
        background-color: #03A9F4;
        color: white;
        border-radius: 50px;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
    }

    .edit-icon {
        padding-left: 10px;
        font-size: 25px;
    }

    .focusareaname {
        margin: 0 0 2px;
        font-size: 1.4rem;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    ion-item {
        border-bottom: 0.5px solid #c8c7cc !important;
        padding-left: 8px !important;

        .item-inner {
            border-bottom: none !important;
        }
    }

    .challengeName {
        text-transform: capitalize;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        color: #fab754 !important;
    }
}
