@import '../../../theme/android-sdk35-fixes.scss';

page-composecontainer {
    @include android-sdk35-fixes;



    .slide-zoom {
        height: 100% !important;
    }
    .scroll-content {
        background-image: none !important;
    }
    .ico{
        float: right !important;
        font-size: 32px !important;
        color: white !important;
        margin-right: 9px !important;
    }
}
