popover-page{
    .theme-color-size{
           font-size: 3em;
    margin-left: .2em;
    }
    .theme-color1{
        color: #3EBAD1;
    }
    .theme-color2{
        color: #3575DF;
    }
    .theme-color3{
        color: #FF6600;
    }
    .theme-color4{
        color: #5261BC;
    }
    .theme-color5{
        color: #96AA39;
    }
    .theme-color6{
        color: #4BB368;
    }
    .theme-color7{
        color: #00796A;
    }
    
}
