page-filterbookings {
    .scheduleDays{
        display: inline;
        text-align: center;
        width: 14.28%;
        float: left;
        font-size: 15px;
        margin-top:8px;
    }

    .colofweek{
        display: inline;
        text-align: center;
        width: 14.28%;
        float: left;
        font-size: 15px;
        margin-top:8px;
        .day{
            text-align: center;
            margin: 2px;
            font-size: 12px;
            color: rgba(0,0,0,0.65);
        }
        .selected{
            border-radius: 50%;
            text-align: center;
            height: 32px;
            width: 32px;
            padding: 0.2px 2px;
            color: white;
            margin: auto;
            background-color: #FAB154;
        }
        .date{
            margin: 5px 2px;
            font-size: 18px;
            text-align: center;
        }
    }


    ion-calendar{
        ion-grid{
            box-shadow: 0px 1px 4px -1px #c6c2c3;
            border-radius: 5px;
            ion-row:first-of-type{
                color: rgba(0, 0, 0, 0.85);
                font-weight: 500;
                font-size: 20px;
                //background: #46b592!important;
                ion-col{
                    ion-icon{
                    
                        margin-top: -1px;
                    }
                }
            }

            .calendar-header-col{
                font-size: 18px;
                color: rgba(0,0,0,0.85);
                text-align: center;
            }

            .calendar-col{
                text-align: center;
            }
            .select{
                background: #2B92BB !important;
            }
            
            .not-this-month{
                color: rgba(0,0,0,0.65);
            }
           .this-month{
            color: rgba(0,0,0,0.85);
           }

            
        }
    }


    .searchrow {
        display: none;
        margin: 2px 50px 0px 0px !important;
        ion-searchbar{
            background: rgba(128, 128, 128, 0) !important;
            min-height: 45px;
            float: right;
            width: 92%;
            input{
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            }
        
        }
        .searchbar-input{
            
             padding: 6px 46px;
            border-radius: 152px;
        }
        .searchbar-input-container{
           // border: 1px solid rgba(246, 174, 77, 0.65);
           // border-radius: 5px;
        }
    }
    .searchbtn {
        margin: 25px 0px 0px 0px !important;
        //top:15px !important;
    }
    .display_none{
        display: none;
    }
    .display_block{
        display: block;
    }
    .searchbar-ios {
        background: none !important;
        border-bottom: none;
        border-top: none;
    }
    .scroll-content {
        
        padding: 16px 9px !important;
        background-image: none !important;
        background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1, #efefef) !important;
    }
    .favs{
        background-color:#35adff;
        border-radius: 50%;
        button{
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-color:#35adff;
            img{
                height: 20px;
                width: 20px;
            }
        } 
    }
    div {
        ion-list {
            margin: 0px 0px 0px 0px !important;
        } // div{
        //     ion-list{
        //         margin:2px 5px 2px 5px !important;
        //     }
        // }
    }
    .ion_card_content {
        padding-bottom: 5px;
    }
    .btn-width {
        width: 70px;
    }
    .f_member {
        margin: 6px 17px 5px 17px;
        ion-list {
            margin-top: 2px !important;
        }
    }
    .margin_member {
        margin-top: 2px;
    }
    .danger_color2 {
        color: red;
        text-align: center;
        font-size: 16px;
    }
    .ion_list {
        margin: 0px 0px 0px 0px !important;
    }
    .ion_item_sliding1 {
        margin-top: 5px;
    }
    .member_name,
    .btn_clr {
        color: $dashoboard-icon-color;
    }
    .block {
        margin-top: 11px;
        margin-bottom: 15px;
        ion-card-content {
            padding-bottom: 0px;
        }
    }
    .span_member_details {
        text-decoration: underline;
    }
    .sbar {
        margin-top: 2px;
    }
    .search_bar {}
    ion-scroll {
        margin-top: 10px;
    }
    .right_align {
        float: right;
    }
    .memberlist_table .fab[mini] {
        margin: -1px -13px 8px 8px;
        width: 29px !important;
        height: 29px !important;
        line-height: 40px !important;
    }
    .memberlist_link {
        //font-size: 15px;
        color: red;
        text-decoration: underline;
    }
    .table_prop {
        width: 100%;
    }
    .center_align {
        text-align: center;
    }
    table,
    th,
    td {
        border: 1px solid #95939c;
        border-collapse: collapse;
    }
    .memberlist_table {
        margin-bottom: 14px;
        margin-top: 12px;
    }
    .selected2{
        
        border-width: 1px !important;
        border-style: solid !important;
        -webkit-border-image: 
          -webkit-gradient(linear, 0 0, 0 100%, from(#be2919), to(#eaa39c)) 1 100% !important;
        -webkit-border-image: 
          -webkit-linear-gradient(#be2919, #eaa39c) 1 100% !important;
        -moz-border-image:
          -moz-linear-gradient(#be2919, #eaa39c) 1 100% !important;    
        -o-border-image:
          -o-linear-gradient(#be2919, #eaa39c) 1 100% !important;
        border-image:
          linear-gradient(to bottom, #be2919, #eaa39c) 1 100% !important;
       
    }
    .all{
       // border-left: 3px solid #35adff;
       border-width: 1px;
       border-style: solid;
       -webkit-border-image: 
         -webkit-gradient(linear, 0 0, 0 100%, from(#35adff), to(#7dbce6)) 1 100%;
       -webkit-border-image: 
         -webkit-linear-gradient(#35adff, #7dbce6) 1 100%;
       -moz-border-image:
         -moz-linear-gradient(#35adff, #7dbce6) 1 100%;    
       -o-border-image:
         -o-linear-gradient(#35adff, #7dbce6) 1 100%;
       border-image:
         linear-gradient(to bottom, #35adff, #7dbce6) 1 100%;
    }
    .cardStyle {
        border-left: 3px solid #35adff;
        border-radius: 2px;
        width: calc(100%);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin: -1px 0 5px !important;
        ion-card-content {
            padding: 5px 8px;
        }
    }
    .memberfont {
        color: $cardhightlighttextcolor;
        font-size: 17px;
    }
    .searchbar-md {
        padding: 5px 0px 2px 0px;
    }
    .nomemberMessageCard {
        margin: 4px 0px 0px 0px;
        width: 100%;
        margin-top: 30px !important;
    }
   //------------------------------------
    //
    //
    //modal css
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 20px;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 5px;
        border: 1px solid #888;
        width: 80%;
    }
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    ion-select {
        display: -webkit-box;
        max-width: 100%;
        width: 100%;
    }
    .venuedropdown{
        padding: 13px 8px 13px 0px;
    }
    .venueionitem{
        padding-left: 4px;
    }


    .fabEmailText {
        // margin-left: -106px;
        // background-color: #f0f0f3;
        // margin-top: -48px;
        // padding: 6px 12px 2px 11px;
        // margin-bottom: 5px;
        // color: #202021;
        // border-radius: 3px;
        // //box-shadow: -1px 1px 0px 0px #a8a9ad;
        // margin-right: 36px;
        // box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        margin-left: -83px;
        background-color: #2b92bb !important;
        margin-top: -39px;
        padding: 6px 12px 2px 11px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }

    .fabAttendanceText {
        margin-left: -115px;
        background-color: #f53d3d;
        margin-top: -41px;
        padding: 6px 12px 2px 11px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
    }


    //..............
    .sub-container{
        button{
            width: 90%;
            height: 86%;
            margin-top: 4px;
         background: linear-gradient(to right, #f3c686 , #faaa28);
    border-radius: 5px;
    color: white;
    box-shadow: -2px 4px 28px rgba(250, 170, 40, 0.45);
        }
    .searchbar{
        border: none !important;
        background: #ffffff !important;
        border-radius: 5px !important;
        height: 86% !important;
        margin-top: 4px !important;
    }
    .searchbar-input{
        padding-left: 0px !important;
    }
    .searchbar-search-icon{
        display: none !important;
    }
    ion-icon{
        font-size: 20px;
    }
    }

    .scroll-content{
       // background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1,#efefef) !important;
        
    }
    .allignment-col{
       // max-width: 78.33333% !important;
        margin-left: 5% !important;
        ion-label{
            color: #e6b27f;
        }
    }
    .headitem{
        background: #ffffff !important;
        .item-inner {
             border-bottom:none !important; 
        }
    }
    ion-card-header{
        border-bottom: 1px solid #ded8d8 !important;
        padding: 0px !important;
        color: rgba(0, 0, 0, 0.85) !important;
        font-weight: 400;
    }
    ion-card{
        margin:0px !important;
        width:100% !important;
        margin: 6px 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: rgb(249, 249, 249) !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #f6ae4d !important;
    }
    ion-card-content{
        padding: 0px !important;
    }
    .icon-img{
        height: 21px;
    }
    .family{
        color:#5ea68d;
        font-size: 17px;
    }
   
    ion-select{
        padding: 0px 0px 0px 0px !important;
    }
    .select-text{
        padding-top: 10px !important;
        color:#faae4e !important;
    }
    .select-icon {
        position: relative !important;
        width: 20px !important;
        height: 20px !important;
        background: #f0dcbc !important;
        border-radius: 50% !important;
        color: white !important;
        left: 0px !important;
        top: 6px;
        .select-icon-inner{
            left: 5px !important;
            top: 46% !important;
            margin-top: -2px !important;
            position: absolute !important;
            width: 0 !important;
            height: 0 !important;
            border-top: 5px solid !important;
            border-right: 5px solid transparent !important;
            border-left: 5px solid transparent !important;
            color: white !important;
            pointer-events: none !important;
        }
    }
    .border-left-style{
        height: 65px;
        position: absolute;
        top: 28px;
        right: 7px;
    }
    .rows-allign{
        
        margin-top: -8px !important;
        margin-left: -6px !important;
    }
    .rows-allign2{
        margin-top: -12px !important;
        margin-left: 7px !important;
        margin-right: 4px !important;
    }
    .name{
        margin-left: 12px !important;
    }
    .fabEmailText {
    
        margin-right: 51px !important;
       
    }
    .danger_color2{
        color: #cec3c3 !important;
        text-align: center !important;
        font-size: 16px !important;
        padding: 10px;
    }
    .border-bottom-default-color{
        border-bottom: 1px solid #f6ae4d !important;
    }
    .align-text-left{
        text-align: left !important;
    }
    .header-container{
        background-color: white !important;
        width: 105%;
        margin-left: -2% !important;
        margin-top: -4%;
        ion-row{
            background-color: white ;
            ion-col{
                background-color: white ;
                ion-item{
                    background-color: white ;
                }
            }
        }
    }
}
