<ion-header *ngIf="themeType == 1">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Membership Config</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="membershipConfigTab">
            <ion-segment-button value="newmember">
                New Member
            </ion-segment-button>
            <ion-segment-button value="renewal">
                Renewal
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-header *ngIf="themeType == 2">
    <ion-navbar>
        <button ion-button icon-only menuToggle (click)="goToDashboardMenuPage()">
      <ion-icon name="apps" ></ion-icon>
    </button>
        <ion-title>
            Membership Config
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDashboardMenuPage()">
                 <img src="assets/images/home.svg" class="home_btn">
            </button>
            <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="membershipConfigTab">
            <ion-segment-button value="newmember">
                New Member
            </ion-segment-button>
            <ion-segment-button value="renewal">
               Renewal
            </ion-segment-button>


        </ion-segment>
    </ion-toolbar>
</ion-header>





<ion-content padding class="cards-bg social-cards">


    <ion-item class="margin">
        <ion-label>Club</ion-label>
        <ion-select [(ngModel)]="selectedClub" (ionChange)="onClubChange()">
            <ion-option *ngFor="let club of allClub" value={{club.$key}}>{{club.ClubName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="margin">
        <ion-label>Activity</ion-label>
        <ion-select [(ngModel)]="selectedActivity" (ionChange)="getNewMemberConfig()">
            <ion-option *ngFor="let item of allActivityArr" value={{item.$key}}>{{item.ActivityName}}</ion-option>
        </ion-select>
    </ion-item>


    <div [ngSwitch]="membershipConfigTab" class="div-box-margin">
        <ion-list *ngSwitchCase="'newmember'" class="card-view">
            <ion-list *ngFor="let nm of allNewMenber" class="slidingcards">
                <ion-item-sliding>
                    <ion-item>
                        <p><span>Pay By Date :</span><span> {{nm.PayByDate}}</span></p>
                        <p><span>Membership Year Type: </span><span>{{nm.MembershipYear}}</span></p>
                        <p><span>Membership Date: </span><span>{{setDate(nm.MembershipDate)}}</span></p>
                    </ion-item>


                    <ion-item-options side="right">
                        <button ion-button style="background-color:#2b92bb !important; color: white !important" (click)="editNewMember(nm)">
                        <ion-icon name="ion-create"></ion-icon>
                        Edit
                    </button>
                       
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

            <ion-card *ngIf="allNewMenber.length == 0" class="card-view1">
                <ion-card-content class="slidingcards">
                    <p class="text-color">It seems there are no new membership config under this activity.</p>
                </ion-card-content>
            </ion-card>

        </ion-list>
        <ion-list *ngSwitchCase="'renewal'" class="card-view">
            <ion-list *ngFor="let rm of allRenewalMenber" class="slidingcards">
                <ion-item-sliding>
                    <ion-item>
                        <p><span>Due Date:</span><span> {{rm.DueDate}}</span></p>
                        <p><span>Message: </span><span>{{rm.Message}}</span></p>
                        <p><span>Renewal Payment Inst. Days: </span><span>{{rm.RenewalPaymentInstructionDays}}</span></p>
                    </ion-item>


                    <ion-item-options side="right">
                        <button ion-button style="background-color:#2b92bb !important; color: white !important" (click)="editRenewalMember(rm)">
                        <ion-icon name="ion-create"></ion-icon>
                        Edit
                    </button>
                       
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

            <ion-card *ngIf="allRenewalMenber.length == 0" class="card-view1">
                <ion-card-content class="slidingcards">
                    <p class="text-color">It seems there are no renewal membership config under this activity.</p>
                </ion-card-content>
            </ion-card>

        </ion-list>


        




    </div>


    <ion-fab right bottom>
        <button ion-fab mini style="background-color:#2b92bb !important; color: white !important" (click)="gotoMemberConfigHome()" style="background-color:#2b92bb !important; color: white !important"><ion-icon name="add"></ion-icon></button>

    </ion-fab>



</ion-content>