@import '../../../theme/android-sdk35-fixes.scss';

reportmember-page {
    @include android-sdk35-fixes;
.scroll-content{
        padding: 16px 9px !important;
    }
    .social-cards ion-col {
        padding: 8px;
     }
     .right{
         float: right;
     }
     .margin{
        margin-top: 7px;
    }
    .margin_btm{
        margin-bottom: 18px;
    }
    .marg_top{
        margin-top: 0rem;
    }

     .blue{


    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  background: #06326f;
   border-radius: 2.6em;
  -moz-border-radius: 2.6em;
  -webkit-border-radius: 2.6em;
    color: #ffffff;
    display: inline-block;
 
line-height: 4em;
    margin-right: 15px;
    text-align: center;
    width: 4em;
    height: 4em;

    //  //   box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    // //background: #06326f;
    // //border-radius: 2.6em;
    // //-moz-border-radius: 2.6em;
    // //-webkit-border-radius: 2.6em;
    // color: #ffffff;
    // display: inline-block;
    // line-height: 4em;
    // margin-right: 15px;
    // text-align: center;
    // width: 4em;
    // height: 4em;
    font-size: 19px;
  }

  .red{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  background: #F44336;;
   border-radius: 2.6em;
  -moz-border-radius: 2.6em;
  -webkit-border-radius: 2.6em;
    color: #ffffff;
    display: inline-block;
  
// line-height: 3em;
//     margin-right: 15px;
//     text-align: center;
//     width: 3em;
//     height: 3em;



line-height: 4em;
    margin-right: 15px;
    text-align: center;
    width: 4em;
    height: 4em;

    font-size: 19px;



  }
  .topdoor{
          padding-top: 25px;
  }
  .leftdoor{
      padding-left: 124px;
  }
  .bigdoor{
     font-size: 15px;
  }
  .row_class{
        margin-top: 0px;
        ion-col{
          padding: 3px;
        }
    }
    .cardlist{
        width:100%;
        margin:0px !important;
        border-radius: 6px !important;
        background-color: rgba(11, 18, 29, 0.53);
    }
    .content_height{
        height: 80px;
    }
    .month_block{
        text-align: center;
        text-align: center;
        line-height: 27px;
        color:white;
        font-size: 13px;
    }

    .month_block2{
        text-align: center;
        text-align: center;
        line-height: 27px;
        color:white;
        font-size: 15px;
    }

    .month_block1{
        text-align: center;
        text-align: center;
        line-height: 27px;
        color:white;
        font-size: 2em;
    }



    .padding-0{
        padding: 0px !important;
    }
    .padding-8{
        padding: 8px !important;
    }
    .margin-0{
        margin: 0px !important;
    }
    .member {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid #c9f6ea;
        position: absolute;
        top: 13%;
        left: 15%;
    }
    .header-p{
       font-size: 12px;
        color: #b5b6ba;
    }
    .round{
        height: 7px;
        width: 7px;
        border-radius: 50%;
        float: left;
        margin: 5px 3px 0px 0px !important;
        position: absolute;
        top: 5px;
        left: -9px;
    }
    .round-individual{
        border: 2px solid #8a9fcc;
    }
   .round-familyMember{
    border: 2px solid #93dfd4;
   }
   .number{
       margin: auto;
       font-size: 15px;
       color:#8c8d91 !important;
       font-weight: 500;
   }
   .padd-top-2{
    padding-top: 5px !important;
   }
   .padd-bottom-2{
       padding-bottom: 5px !important;
       border-bottom: 1px solid #d4d2d2;
   }
   .center-align{
   // text-align: center !important;
   }
    .customheader{
    padding: 5px !important;
    .number{
        border-bottom: 1px solid #b9b8b8;
        
    }
   }
   .fabTop {
    margin-bottom: 13px;
    }
    .fabEmailText {
        margin-left: -156px;
        background-color: #2b92bb !important;
        margin-top: -47px;
        padding: 5px 12px 5px 11px;
        margin-bottom: 5px;
        color: #ffffff;
        border-radius: 3px;
        margin-right: 36px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
   .left-card{
       // background: #dcfffb !important;
   }
   .border-top-card{
    border-top: 15px solid #438c99;
   }
   .table-header{
    background-color:#e4ecf9 !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin: -5px !important;
   }
   .padd-5{
    padding: 5px !important;
   }
   .member-bottom{
    width: 40px;
    height: 40px;
   }
   .bottom-content{
        padding: 5px !important;
        padding-top: 5px !important;
        height:400px;
        overflow-y: scroll;
       // padding-bottom: 7px !important;
        //border-bottom: 1px solid #c5c2c2 !important;
   }
   .member-name-style{
    color:#686b73 !important;
    font-weight: 500;
   }
   .other-info{
    font-size: 12px !important;
    color: #525050 !important;
   }
   .col-style{
    top: 15%;
    position: absolute;
   }
   .padd-row{
    padding-bottom: 8px !important;
    border-bottom: 1px solid #c5c2c2 !important;
    padding-top: 8px !important;
   }
   .scroll-content{
    background: linear-gradient(to bottom left, #f7f7f7, #f1f1f1, #efefef) !important;
    background-image: none !important;
 }
 .font-18{
     font-size: 18px !important;
 }
 .selected{
     color:#438c99 !important;
     font-weight: 900;
     font-size: 17px;
 }
 .selectNonmember{
     color:rgba(175, 52, 45, 0.61) !important;
 }
 .selectedClubNameClass{
     border-left: 3px solid #faae4e !important;
     border-right: 3px solid #faae4e !important;
     border-bottom: 3px solid #faae4e !important;
 }
}
