<!--
  Generated template for the CreatematchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Create Match</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToDashboardMenuPage()">
        <img src="assets/images/home.svg" class="home_btn" />
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <ion-list>
    <ion-item>
      <ion-label>Match Title</ion-label>
      <ion-input type="text" [(ngModel)]="createMatchInput.MatchTitle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Venue</ion-label>
      <ion-select (ionChange)="onChangeOfClub()" [(ngModel)]="selectedClub">
        <ion-option *ngFor="let club of clubs" value="{{club.Id}}">{{club.ClubName}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Activity</ion-label>
      <ion-select [(ngModel)]="activityId">
        <ion-option *ngFor="let type of activities" value="{{type.id}}">{{type.activity_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Match Type</ion-label>
      <ion-select [(ngModel)]="createMatchInput.MatchType">
        <ion-option *ngFor="let type of leagueType" [value]="type.value">{{type.key}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Round/Stage/Type</ion-label>
      <ion-select [(ngModel)]="createMatchInput.Round">
        <ion-option *ngFor="let roundType of roundTypes" [value]="roundType.id">{{roundType.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="createMatchInput.GameType">
        <ion-option *ngFor="let cat of leagueCategory" [value]="cat.value">{{cat.key}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="startDate"
        [max]="maxDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="hh mm A" pickerFormat="hh mm A" minuteValues="0,10,20,30,40,50,60"
        [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <app-access-toggle [(isPublic)]="publicType"
      (isPublicChange)="changeType($event ? 'public' : 'private')" label="Match Access">
    </app-access-toggle>

    <app-expandable-section label="FEE" [(expanded)]="isChecked" (expandedChange)="updateMatchPaymentType($event)">
      <ion-item>
        <ion-label fixed>Member Fee
          <span *ngIf="currency != undefined">({{currency}})</span>
        </ion-label>
        <ion-input type="number" class="textareastyle" placeholder="Please enter fee"
          [(ngModel)]="createMatchInput.MemberFees"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Non Member Fee
          <span *ngIf="currency != undefined">({{currency}})</span>
        </ion-label>
        <ion-input type="number" class="textareastyle" [(ngModel)]="createMatchInput.NonMemberFees"></ion-input>
      </ion-item>
    </app-expandable-section>

    <ion-item class="description-item">
      <ion-label stacked>Description</ion-label>
      <ion-textarea type="text" rows="5" [(ngModel)]="createMatchInput.MatchDetails"
        placeholder="Match instructions, rules, or notes..."></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="create-btn-wrap">
    <button ion-button block class="btn-gradient-shine" (click)="saveMatchDetails()">
      Create
    </button>
  </div>

</ion-content>