@import '../../../../theme/android-sdk35-fixes.scss';

page-eventdesc {
    @include android-sdk35-fixes;



    .scroll-content {
        background-image: none !important;
    }
    ion-title {
        background-color: #2b92bb !important;
        div {
            color: #fff !important;
        }
    }
    .toolbar-background-md{
        background-color: #2b92bb;
    }
    .timekare-primary-btn{
        background-color: #5be283 !important;
    }
    
}
