<!--
  Generated template for the AddsubadminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Team</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="body">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Role</ion-label>
          <ion-select [(ngModel)]="selectedRole">
            <ion-option  *ngFor="let role of roleObj;let i = index" value={{i}}>{{role.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-slides slidesPerView="3.9"paceBetween="10">
          <ion-slide *ngFor="let vanue of clubList;let i = index" (click)="addClub(vanue)" [ngClass]="{'selected':this.selectedClubSet.has(vanue)}">{{vanue.ClubShortName}}</ion-slide>
        </ion-slides>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-input placeholder="First Name" [(ngModel)]="saveObj.FirstName"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-input placeholder="Last Name" [(ngModel)]="saveObj.LastName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="Email" type="email" [(ngModel)]="saveObj.EmailID" autocomplete="off" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="Password" type="password" [(ngModel)]="saveObj.Password" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        
      </ion-col>
    </ion-row>
    <!-- <ion-slides slidesPerView="3.9"paceBetween="10">
      <ion-slide *ngFor="let menu of menuObj;let i = index" (click)="addMenu(menu,i)" [ngClass]="{'selected':this.menuObj[i].IsEnable}">{{menu.DisplayText}}</ion-slide>
    </ion-slides> -->
    
    <!-- <ion-row style="margin-top: 13%;">
      <ion-col col-4   *ngFor="let menu of menuObj;let i = index" (click)="addMenu(menu,i)" class = "dashboard_col_item_block colar" [ngClass]="{'selected':this.menuObj[i].IsEnable}">
        <p>{{menu.DisplayText}}</p>
      </ion-col>
    </ion-row> -->
    <ion-row class="toggle_section">
      <ion-col col-12>
        <ion-list *ngIf="Menus.length > 0">
          <ion-item *ngFor="let menu of Menus;let i=index">
            <ion-row>
              <ion-col col-9 no-padding class="flex_col" style="margin:auto">
                <p class="custom_toggle_para">{{menu.DisplayTitle}}</p>
              </ion-col>
              <ion-col col-3>
                <label class="custom_toggle">
                  <input type="checkbox" [(ngModel)]="menu.MobileAccess">
                  <span data-unchecked="No" data-checked="Yes"></span>
                </label>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer>
  <button ion-button block class="timekare-primary-btn" (click)="saveUser()">Save</button>
</ion-footer>
